<!-- Main Content -->
<div class="container container--login">
  <img class="logo logo--login" src="../../public/assets/logo.png" alt="Welcome to the ce100 app" />
  <p class="copy copy--login">A matchmaking app for the circular economy. Collaborate more, solve problems faster.</p>

  <form class="form form--login" method="post">
    <input  class="form__input form__input--login"
            type="password"
            name="password"
            placeholder="Enter password"
            value="{{error.values.password}}">
    <input  class="form__input form__input--login"
            type="password"
            name="confirm_password"
            placeholder="Confirm password"
            value="{{error.values.confirm_password}}">
    <button class="button button--secondary button--login">
      {{#if userFlow.activate}}
        Activate account
      {{else}}
        Reset password
      {{/if}}
    </button>
    <p class="login-response--error">{{error.message}}</p>
  </form>

</div>
