<!-- Main Content -->
<div class="container container--login">
  <img class="logo" src="../../public/assets/logo.png" alt="Welcome to the ce100 app" />

  <form class="form form--login" method="post">
    <input  class="form__input form__input--login"
            type="email"
            name="email"
            placeholder="Email Address"
            value="{{error.values.email}}">
    <input  class="form__input form__input--login"
            type="password"
            name="password"
            placeholder="Password">
    <button class="button button--login">Log In</button>
    <p class="error error--login">{{error.message}}</p>
  </form>

  <!-- <a href="#" class="copy copy__text-link">Forgot password?</a> -->
  <p class="copy copy--login">Don't have an account?
    <a href="mailto:ce100.emf@gmail.com">Contact Us</a>
  </p>
</div>
