<!-- Main Content -->
<div class="container container--login">
  <img class="logo logo--login" src="../../public/assets/logo.png" alt="Welcome to the ce100 app" />
  <p class="copy copy--login">A matchmaking app for the circular economy. Collaborate more, solve problems faster.</p>

  <form class="form form--login" method="post">
    <input  class="form__input form__input--login"
            type="email"
            name="email"
            placeholder="Enter email"
            required
            value="{{error.values.email}}">
    <input  class="form__input form__input--login"
            type="password"
            name="password"
            required
            placeholder="Enter password">
    <button class="button button--login">Login</button>
    <p class="login-response--error">{{error.message}}</p>
  </form>

  <a href="/password-reset" class="anchor anchor--login">Forgot password?</a>

  <div class="table">
    <div class="table__half-width">
      <a href="mailto:ce100.emf@gmail.com" class="anchor anchor--login anchor--teal">
        Don't have an account? Contact us
      </a>
    </div>
    <div class="table__half-width">
      <a href="https://ce100events.zerista.com" class="anchor anchor--login anchor--teal">
        Looking for our mobile app for events?
      </a>
    </div>
  </div>

</div>
