<!-- Main Content -->
<div class="container log-in-layout">
  <div class="log-in-logo">
    <img src="../../public/assets/CE100-midnightBlueAqua.svg" alt="Welcome to the ce100 app" />
  </div>

  <form class="form" method="post">
    <!-- <label class="form__label" for="name">Email</label> -->
    <input class="form__input log-in-fields" type="email" name="email" placeholder="Email">
    <!-- <label class="form__label" for="name">Password</label> -->
    <input class="form__input log-in-fields" type="password" name="password" placeholder="Password">
    <button class="button log-in-fields">Login</button>
  </form>

  </div>
