<!-- Main Content -->
<div class="container">
  <div class="card card--header">
    <h1 class="title">Select Tags</h1>
  </div>
  {{#if parent_tags}}
    <form class="form form--tags" method="post">
        <div class="form__section">
          {{#each parent_tags}}
            {{>tag}}
          {{/each}}
        </div>
        <button class="button button--margin" type="submit">Done</button>
    </form>
  {{else}}
    <h3>Sorry! No tags were found</h3>
  {{/if}}
</div>

<!-- Include Navbar -->
{{>navbar}}
