<!-- Include Top Navbar -->
{{>top-nav}}
{{>top-nav-desktop}}

<!-- Main Content -->
<div class="container">
  <div class="card card--header">
    <a class="icon icon--back" href={{views.referer}}></a>
    <h1 class="title">Select Tags</h1>
    <a class="icon icon__cancel icon__cancel--desktop" href={{views.cancel}}></a>
  </div>

  {{#if error}}
  <div class="snackbar snackbar--error">
    <h1 class="snackbar__content snackbar__content--error">{{error.message}}</h1>
  </div>
  {{/if}}

  {{#if tags}}
    <div class="snackbar snackbar--success">
      <h1 class="snackbar__content snackbar__content--success">
        Selecting tags will help people to find you and make sure that you receive suggested matches. We recommend adding up to 5 tags.
      </h1>
    </div>
    <form class="form form--tags" method="post">
        <div class="form__section form__section--tags">
          {{#each tags}}
            {{>tag}}
          {{/each}}
        </div>
        <div class="button-group button-group--desktop">
          <button class="button button--margin button--desktop" type="submit">Save</button>
          <a class="button button--margin button--desktop button--clear desktop" href={{views.cancel}}>Cancel</a>
        </div>
    </form>
  {{else}}
    <h3>Sorry! No tags were found</h3>
  {{/if}}
</div>

<!-- Include Feedback Widget -->
{{>feedback}}
<!-- Include Navbar -->
{{>navbar}}
