<!-- Change filter tag link (dropdown) -->
<div class="card card--header daintree--blue">
  <a class="title--link" href="/{{filter.pageType}}/tags">
    <h1 class="title title--extra-large">
      {{#if filter.name}}{{filter.name}}{{else}}All tags{{/if}}
      <i class="icon icon--dropdown icon--inline"></i>
    </h1>
  </a>
</div>


<!-- Tab navigation -->
<div class="card card--header">
  <ul class="navbar__links togglebar">
    {{#if filter.orgs}}
      <li class="navbar__item togglebar__item--selected">
        <a class="navbar__link togglebar__link--desktop togglebar__link togglebar__link--selected" href="/orgs{{filter.url}}">
    {{else}}
      <li class="navbar__item togglebar__item">
        <a class="navbar__link togglebar__link--desktop togglebar__link" href="/orgs{{filter.url}}">
    {{/if}}
          Organisations
        </a>
      </li>

    {{#if filter.challenges}}
      <li class="navbar__item togglebar__item--selected">
        <a class="navbar__link togglebar__link--desktop togglebar__link togglebar__link--selected" href="/challenges{{filter.url}}">
    {{else}}
      <li class="navbar__item togglebar__item">
        <a class="navbar__link togglebar__link--desktop togglebar__link" href="/challenges{{filter.url}}">
    {{/if}}
        Challenges
      </a>
    </li>

    {{#if filter.insights}}
      <li class="navbar__item togglebar__item--selected">
        <a class="navbar__link togglebar__link--desktop togglebar__link togglebar__link--selected" href="/insights{{filter.url}}">
    {{else}}
      <li class="navbar__item togglebar__item">
        <a class="navbar__link togglebar__link--desktop togglebar__link" href="/insights{{filter.url}}">
    {{/if}}
        Insights
      </a>
    </li>

  </ul>
</div>
