{{#if view.profile}}
  <li class="list__item list__item--blue du-no-padding">
{{else}}
  <li class="list__item list__item--tall">
{{/if}}

  {{#if (allowAccess permissions)}}
    <a href="/challenges/{{id}}/edit">
      <i class="icon icon--edit icon--edit-challenge-on-profile icon--desktop"></i>
    </a>
  {{/if}}

  <div class="list__subblock">
    <a href="/challenges/{{id}}"
       class="card__header
              card__header--challenge
              card__header--desktop
              card__data--link
              card__header--inline
              {{#if permissions.primary}}{{#if permissions.editable}}card__editable{{/if}}{{/if}}
              {{#if view.profile}}card__header--desktop-large{{/if}}"
              >
      {{title}}
    </a>

    {{#if shared_by}}
    <p class="list__data list__data--secondary list__data--inline du-float-right">Shared by
      <a href="/orgs/{{org_id}}" class="anchor anchor--additional">
        {{shared_by}}
      </a>
    </p>
    {{/if}}
  </div>
</li>
