{{#if view.profile}}
<div class="card card--challenge card--list-item-narrow card--blue">
{{else}}
<div class="card card--challenge card--list-item-narrow">
{{/if}}

  {{#if permissions.primary}}
    {{#if permissions.editable}}
      <a href="/challenges/{{id}}/edit">
        <i class="icon icon--edit icon--edit-challenge-on-profile icon--desktop"></i>
      </a>
    {{/if}}
  {{/if}}

  <a href="/challenges/{{id}}" class="card__header--challenge card__data--link">
    {{title}}
    <i class="navbar__icon icon icon--open-link"></i>
  </a>

  {{#if shared_by}}
  <p class="card__copy card__additional">Shared by
    <a href="/orgs/{{org_id}}" class="card__data--link">
      {{shared_by}}
    </a>
  </p>
  {{/if}}
</div>
