<label class="tag__title" for="{{@index}}">{{name}}</label>
<input  type="checkbox"
        class="tag__input"
        id="{{@index}}">

<div class="form__subsection">
    {{#each tags}}
        {{#if ../view.challenges}}
          <a class="text-decoration" href="/challenges?filter={{id}}">
        {{else if ../view.orgs}}
          <a class="text-decoration" href="/orgs?filter={{id}}">
        {{/if}}
            <span class="tag__label" value=[{{id}}]>{{name}}</span>
          </a>
    {{/each}}
</div>
