<li class="list__item list__item--medium">

  {{#if permissions.admin}}
    {{>indicator-left isActive=active}}
  {{/if}}

  {{#if permissions.admin}}
  <a class="icon icon--edit" href="/insights/{{id}}/edit">
    <img src="../../../public/assets/Edit.svg" alt="Edit" />
  </a>
  {{/if}}

  <div class="list__subblock">
    <a href={{url}} target="_blank" class="card__header card__header--challenge card__data--link">{{title}}</a>
    <p class="anchor anchor--left">By {{author}}</p>
    <p class="anchor anchor--left anchor--small">{{type}}</p>
  </div>

</li>
