<li class="list__item list__item--tall list__item--desktop">

  {{#if permissions.admin}}
    <a href="/insights/{{id}}/edit">
      <i class="icon icon--edit icon--edit-blue icon--desktop"></i>
    </a>
    {{>indicator-left isActive=active}}
  {{/if}}


  <div class="list__subblock panels">
    <a href={{url}} target="_blank"
     class="card__header card__header--challenge
            card__header--desktop du-float-left--desktop du-table--half
            text-decoration--none
            {{#if permissions.admin}}card__editable{{/if}}"
      >{{title}}</a>
    <p class="anchor anchor--left anchor--small du-float-right--desktop du-table--quarter">{{author}}</p>
    <p class="anchor anchor--left anchor--small du-table--fluid">{{type}}</p>
  </div>

</li>
