<div class="card card--challenge">
  {{#if permissions.admin}}
    <a class="icon icon--edit" href="/insights/{{id}}/edit">
      <img src="../../../public/assets/Edit.svg" alt="Edit" />
    </a>
  {{/if}}
  <a href={{url}} target="_blank" class="card__header card__header--challenge card__data--link {{#if permissions.admin}}card__editable{{/if}}">{{title}}</a>
  <p class="card__copy card__additional">By {{author}}</p>
  <p class="card__copy card__additional card__additional--small">{{type}}</p>
</div>
