<nav class="navbar">
  {{#if permissions.primary}}
    <ul class="navbar__links">
      <li class="navbar__item">
        <a href="/orgs" class="navbar__link">Browse</a></li>
      <li class="navbar__item">
        <a href="/challenges/add" class="navbar__link">Add Challenge</a></li>
      <li class="navbar__item">
        <a href="/orgs/{{permissions.organisation_id}}" class="navbar__link">Profile</a></li>
      </ul>
  {{else}}
    <ul class="navbar__links">
        {{#if alternate}}
          {{#each alternate}}
            {{>navbar-list}}
          {{/each}}
        {{else}}
        <li class="navbar__item">
          <a href="/orgs" class="navbar__link">Orgs</a></li>
        <li class="navbar__item">
          <a href="/people" class="navbar__link">People</a></li>
          {{/if}}
        </ul>
    {{/if}}
</nav>
