<label class="tag__title" for="{{category_id}}">{{category_name}}</label>

{{#if selected}}
  <input  type="checkbox" class="tag__input" id="{{category_id}}" checked="checked">
{{else}}
  <input  type="checkbox" class="tag__input" id="{{category_id}}">
{{/if}}

<div class="form__subsection">
    {{#each tags}}
        {{#if selected}}
          <input  type="checkbox" class="tag__input" id="{{tag_id}}" name="tags" value="{{tag_id}}" checked="checked">
        {{else}}
          <input  type="checkbox" class="tag__input" id="{{tag_id}}" name="tags" value="{{tag_id}}">
        {{/if}}
        <label class="tag__label" for="{{tag_id}}">{{tag_name}}</label>
    {{/each}}
</div>
