<label class="tags__toggle-title" for="{{@index}}">{{name}}</label>
{{#if selected}}
  <input type="checkbox" class="tags__toggle-input" id="{{@index}}" checked="checked">
{{else}}
  <input type="checkbox" class="tags__toggle-input" id="{{@index}}">
{{/if}}

<div>
    {{#each tags}}
        {{#if selected}}
          <input type="checkbox" class="tags__toggle-input" id=[{{id}}] name="tags" value=[{{id}}] checked="checked">
        {{else}}
          <input type="checkbox" class="tags__toggle-input" id=[{{id}}] name="tags" value=[{{id}}]>
        {{/if}}
        <label class="tags__toggle-label" for=[{{id}}]>{{name}}</label>
    {{/each}}
</div>
