<nav class="navbar__top navbar-top--desktop">
  <a href="/">
    <img class="navbar__top__logo" alt="" src="../../public/assets/logo.png">
  </a>

  <div class="navbar__top__links">
    <div class="navbar__top__item navbar-top__item--desktop">
      <a href="#" class="navbar__top__link navbar-top__link--desktop">
        <i class="navbar__icon icon navbar__icon--desktop icon--burger"></i>
      </a>
    </div>
    <div class="navbar__top__item navbar-top__item--desktop">
      <a href="/challenges/add" class="navbar__top__link navbar-top__link--desktop">
        <i class="navbar__icon icon navbar__icon--desktop icon--profile-white"></i>
        <span class="navbar__top__link navbar-top__link--desktop">Update Profile</span>
      </a>
    </div>
    <div class="navbar__top__item navbar-top__item--desktop">
      <a href="/challenges/add" class="navbar__top__link navbar-top__link--desktop">
        <i class="navbar__icon icon navbar__icon--desktop icon--plus-white"></i>
        <span class="navbar__top__link navbar-top__link--desktop">Add</span>
      </a>
    </div>
    <div class="navbar__top__item navbar-top__item--desktop">
      <a href="/orgs" class="navbar__top__link navbar-top__link--desktop">
        <i class="navbar__icon icon navbar__icon--desktop icon--spyglass-white"></i>
        <span class="navbar__top__link navbar-top__link--desktop">Explore</span>
      </a>
    </div>
  </div>
</nav>
