<nav class="mobile navbar-top">
  <div class="navbar-top__item">
    <a href="#">
      <i class="icon icon--logo navbar-top__logo"></i>
    </a>
  </div>

  <div class="navbar-top__item navbar__item--toggle">
    <label class="navbar__link" for="burger">
      <i class="icon icon--burger navbar-top__burger"></i>
    </label>
  </div>
    <input class="navbar-top__burger--checkbox" type="checkbox" id="burger" />
    <div class="toggle-menu toggle-menu__top toggle-menu__top--burger">
      <a href="/people/{{permissions.userId}}/edit" class="toggle-menu__link toggle-menu__link--burger">Settings</a>
      <a href="/people" class="toggle-menu__link toggle-menu__link--burger">People</a>
      <a href="/resources" class="toggle-menu__link toggle-menu__link--burger">Resources</a>
    </div>
</nav>
