<li class="list__item">

    {{#if permissions.admin}}
    <a class="icon--edit" href="/people/{{id}}/edit">
      <img src="../../public/assets/Edit.svg" alt="Edit" />
    </a>
    {{/if}}

    <span class="list__data list__data--primary">{{first_name}} {{last_name}}</span>
    <span class="list__data list__data">
      {{#if job_title}}
        {{#if org_name}}
        {{job_title}} at {{org_name}}
        {{else}}
        {{job_title}}
        {{/if}}
      {{else if org_name}}
        {{org_name}}
      {{/if}}
    </span>



    <div class="list__ellipsis" tabindex="1">
        <i class="circle"></i>
        <i class="circle"></i>
        <i class="circle"></i>
    </div>

    <div class="list__hidden-details">

        <span class="list__data">{{email}}</span>

        <span class="list__data">{{phone}}</span>

        {{#if permissions.admin}}
          <span class="list__data">{{user_type}}</span>
          <span class="list__data">
            {{#if active}}
              Active
            {{else}}
              Inactive
            {{/if}}
          </span>
        {{/if}}
    </div>
</li>
