<li class="list__item list__item--medium list__item--people">
  {{#if permissions.admin}}
    {{>indicator-left isActive=active accountActivated=account_activated}}
  {{/if}}

  {{#if permissions.admin}}
  <a href="/people/{{id}}/edit">
    <i class="icon icon--edit-blue list__icon list__icon--padded" ></i>
  </a>
  {{/if}}

  <img src="../public/assets/profile.svg" alt="user profile image" class="profile_photo">

  <div class="list__subblock--inline list__subblock--w95">
    <span class="list__data list__data--small list__data--inline desktop-grid--twenty pl2-ns">{{first_name}} {{last_name}}</span>
    <span class="list__data list__data--small list__data--inline list__data--occupation">
      {{#if job_title}}
        {{#if org_name}}
          {{job_title}} at <a href="/orgs/{{org_id}}" class="card__data--prim-contact">{{org_name}}</a>
        {{else}}
          {{job_title}}
        {{/if}}
      {{else if org_name}}
        {{org_name}}
      {{/if}}
    </span>

    <span class="list__data list__data--s-padding list__data--inline desktop-grid--twenty pl2-ns">
      <img src="../public/assets/button-call.svg" alt="Phone icon" class="contact_icon">
      <a href="tel:{{primary.phone}}" class="card__data--prim-contact">{{phone}}</a>
    </span>

    <a class="anchor list__data list__data--s-padding list__data--inline desktop-grid--twenty" href="mailto:{{email}}">
      <div class="u-text-wrap">
        <img src="../public/assets/button-mail.svg" alt="Mail icon" class="contact_icon">
        {{email}}
      </div>
    </a>

    {{#if permissions.admin}}
      <span class="list__data u-teal list__data--user-type list__data--inline">{{user_type}}</span>
    {{/if}}
  </div>
</li>
