<!-- Include Top Navbar -->
{{>top-nav}}
{{>top-nav-desktop}}

<!-- Main Content -->
<div class="container">
  <div class="card card--header">
    <h1 class="title">Resources</h1>
  </div>
  {{#if resources}}
    <ul>
      {{#each resources}}
        {{>insights permissions=../permissions}}
      {{/each}}
    </ul>
  {{else}}
    <h3 class="title title-blue">There are currently no resources.</h3>
  {{/if}}
</div>

<!-- Include Feedback Widget -->
{{>feedback}}
<!-- Include Navbar -->
{{>navbar}}
