/*|||||||||||||||||||||||||||||||||||||||||||||
    Resets
  |||||||||||||||||||||||||||||||||||||||||||*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*|||||||||||||||||||||||||||||||||||||||||||||
    Custom Presets
  |||||||||||||||||||||||||||||||||||||||||||*/

html {
    font-size: 16px; /* for REM size declarations */
    font-family: proxima-nova, 'Karla', Helvetica, Ariel, sans-serif;
}

body {
    line-height: 1.5rem;
    background-color: #fafafa;
    font-size: 0.875rem; /* 14px */
}

/*|||||||||||||||||||||||||||||||||||||||||||||
    Colours
  |||||||||||||||||||||||||||||||||||||||||||*/

/*
Main-text :   #333333;

Navy:           #002944;

Denim:          #40667e;



White:          #ffffff;

anchor-red:     #900000;

Teal:           #40667E;

Light-teal:     #B4ECEF;
Used for a disabled (unclickable) tag

Light-grey:     #f8f8f8;
(for togglebar navigation)

Darker-grey:    #9cafbb;
(un-selected font colour in togglebar navigation)
*/

/*New tag color: #003253;
Disabled tag color (50% opacity): rgba(0,50,83, 0.5);*/


/*|||||||||||||||||||||||||||||||||||||||||||||
    Icons
  |||||||||||||||||||||||||||||||||||||||||||*/

.icon {
    width: 0.875rem;
    height: 0.875rem;
    display: block;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon--large {
  width: 1.5rem;
  height: 1.5rem;
}

.icon--explore {
    background-image: url("../assets/Explore.svg");
}
.icon--explore-white {
    background-image: url("../assets/Explore-white.svg");
}
.icon--plus {
    background-image: url("../assets/Plus.svg");
}
.icon--plus-white {
    background-image: url("../assets/Plus-white.svg");
}

.icon--profile {
    background-image: url("../assets/Profile.svg");
    background-position: center;
    width: 2.5rem;
    height: 1rem;
}
    .icon--profile-white { /* Must be combined with .icon--profile
                              for proper positioning. */
        background-image: url("../assets/Profile-white.svg");
    }

.icon--magnifying-glass {
    background-image: url("../assets/Magnifying-glass.svg");
    height: 1.375rem;
    background-position: center;
}
.icon--white-magnifying-glass {
  background-image: url("../assets/white-magnifying-glass.svg");
}
.icon--magnifying-glass-inline {
  display: none;
}
  @media (min-width: 600px) {
    .icon--magnifying-glass-inline {
      display: inline-block;
      vertical-align: middle;
      padding: 0 1rem;
      height: 1.6rem;
    }
  }

.icon--burger {
    background-image: url("../assets/Burger.svg");
    height: 1.375rem;
    background-position: center;
}
.icon--logo {
    background-image: url("../assets/logo.png");
}
.icon--arrow-right {
    background-image: url("../assets/arrow-right.svg");
}
.icon--open-link {
  background-image: url("../assets/open-link.svg");
  display: inline-block;
  margin-left: 0.4rem;
}
.icon--open-link-white {
  background-image: url("../assets/open-link-white.svg");
  display: inline-block;
  margin-left: 0.4rem;
}
.icon--back {
    background-image: url("../assets/Arrow-left.svg");
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(100%, -50%);
    -webkit-transform: translate(30deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translate(30deg); /* IE 9 */
}
.icon--cancel {
    background-image: url("../assets/Cross.svg");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    -webkit-transform: translate(30deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translate(30deg); /* IE 9 */
}
.icon--cancel-top {
    top: 3rem;
    right: 1rem;
}
.icon--edit {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 1.3rem;
    width: 1.3rem;
}
    .icon--edit--org {
      top: 1rem;
      right: 1rem;
    }

    @media (min-width: 600px) {
      .icon--edit--org {
        right: 5rem;
      }
    }
/*.icon--edit:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding-top: 1.5rem;
}*/
.icon--arrow-inside-button {
  display: inline-block;
  width: 1rem;
  height: 1.2rem;
  margin-left: 0.125rem;
  transform: translate(25%, 33%);
}
.icon--edit-blue {
    background-image: url("../assets/Edit.svg");
}
.icon--edit-blue:hover {
    background-image: url("../assets/Edit-hover.svg");
}
.icon--edit-white {
    background-image: url("../assets/Edit-white.svg");
}
.icon--edit-challenge-on-profile {
    /*used specifically for the challenge with a blue background on mobile, but white on desktop*/
    background-image: url("../assets/Edit-white.svg");
}
.icon--edit-tags {
  display: inline-block;
  background-image: url("../assets/edit-tags.svg");
}

.icon--float-right {
  height: 1.3rem;
  width: 1.3rem;
  float: right;
}


/*|||||||||||||||||||||||||||||||||||||||||||||
    Nav Bar
  |||||||||||||||||||||||||||||||||||||||||||*/

.navbar {
    height: 3.5rem;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.17);
    }

.navbar__logo {
    display: none;
    /*************************************
    WARNING TO BE REMOVED*/
}

.navbar__links {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    margin: auto;
}
    .navbar__item {
        display: table-cell;
        vertical-align: bottom;
        width: 50%;
        text-align: center;
    }
    .navbar__item--opaque {
      opacity: 0.5;
    }
    .navbar__item--toggled {
        background-color: #40667E;
        opacity: 1;
    }
    .navbar__item--ellipsis {
      width: 3rem;
    }
    .navbar__item:hover {
        background-color: #f2f2f2;
    }
        .navbar__icon {}
        .navbar__link {
            display: block;
            text-decoration: none;
            color: #333333;
            font-size: 0.75rem;
            cursor: pointer;
        }
        .navbar__link:visited {
            color: #333333;
        }
        .navbar__link:hover {
            text-decoration: none;
        }
        .navbar__link--toggled {
            color: #ffffff;
        }
        .navbar__link--with-icon {
            font-size: 0.625rem;
        }
        .navbar__link--checkbox {
            display: none;
        }
        .navbar__link--checkbox:checked ~ .toggle-menu__bottom {
            display: block;
        }

        .toggle-search {
          display: none;
          left: 0;
          position: fixed;
        }

        .search-desktop {
          display: none;
        }

        .search-desktop:checked ~ .toggle-search {
            display: block;
            z-index: 98;
        }

        .search-desktop:checked ~ .navbar-top__item--search {
          background-color: #002944;
        }

/* For a nav menu that toggles (eg burger) */
.toggle-menu {
  z-index: 99;
  position: absolute;
  right: 0;
}

    .toggle-menu__bottom {
      background-color: #003253;
      width: 50%;
      bottom: 3.5em;
      display: none;
    }

    .toggle-menu__top {
      background-color: #002944;
      top: 3.4rem;
    }
        .toggle-menu__top--burger {
          top: 0;
          padding: 5rem 0;
          bottom: 0;
          width: 100%;
          display: none;
        }
        .toggle-menu__top--add {
          width: 20rem;
          display: none;
        }
        .toggle-menu__top--search {
          top: 3.4rem;
          background-color: #002944;
          padding: 0;
        }
    .toggle-menu__link {
      color: #ffffff;
      text-align: center;
      display: block;
      text-decoration: none;
    }
        .toggle-menu__link--burger {
          padding: 2.5rem 0;
          font-size: 1.3rem;
        }
        .toggle-menu__link--add {
          padding: 2.5rem 0;
        }
        .toggle-menu__link--bottom-nav {
          padding: 1.5em 0;
          border-bottom: 1px solid #40667E;
        }
    .toggle-menu__link:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .search {
      display: block;
      text-align: center;
      background-color: #002944;
    }
        .search__input {
          border: 0;
          outline: 0;
          color: #FFFFFF;
          background-color: #002944;
          border-bottom: #66d9e0 solid 1px;
          font-family: proxima-nova, 'Karla', Helvetica, Ariel, sans-serif;
          font-size: 1.3rem;
          font-weight: 100;
          margin-top: 10rem;
          padding-bottom: 0.4rem;
          text-align: left;
          width: 67%;
          display: inline-block;
        }

        @media (min-width: 600px) {
          .search__input{
            width: 35%;
          }
        }

        .search__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #FFFFFF;
        }
        .search__input::-moz-placeholder { /* Firefox 19+ */
          color: #FFFFFF;
        }
        .search__input:-ms-input-placeholder { /* IE 10+ */
          color: #FFFFFF;
        }
        .search__input:-moz-placeholder { /* Firefox 18- */
          color: #FFFFFF;
        }

        .search__input--results {
          margin: 1rem;
        }

        .search__go {
          border: 0;
          outline: 0;
          background-color: #66d9e0;
          color: #FFFFFF;
          border-radius: 9999px;
          padding: 0.5rem 1rem;
          font-size: 0.875rem;
          font-weight: 500;
          cursor: pointer;
        }

        .search__go:hover {
          background-color: #5cc3ca;
        }

  /*|||||||||||||||||||||||||||||||||||||||||||||
    Toggle Bar in browse view
  |||||||||||||||||||||||||||||||||||||||||||*/
  .togglebar {
    background: #f8f8f8;
    -webkit-box-shadow: 0 2px 4px 0 rgba(64, 101, 126, 0.25);
    -moz-box-shadow: 0 2px 4px 0 rgba(64, 101, 126, 0.25);
    box-shadow: 0 2px 4px 0 rgba(64, 101, 126, 0.25);
    line-height: 1.75rem;
    height: 4rem;
  }

  .togglebar__item, .togglebar__item:hover{
    background: #f8f8f8;
  }
  .togglebar__item--selected, .togglebar__item--selected:hover {
    background: #ffffff;
  }
  .togglebar__link, .togglebar__link:visited {
    padding: 1.125rem 0;
    color: #9cafbb;
    font-size: 0.875rem;
  }
  .togglebar__link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #003253;
    font-weight: bold;
    -webkit-box-shadow: 0px -5px 0px #66d9e0 inset;
    -moz-box-shadow: 0px -5px 0px #66d9e0 inset;
    box-shadow: 0px -5px 0px #66d9e0 inset;
  }
  .togglebar__link--selected, .togglebar__link--selected:visited {
    color: #333333;
    font-weight: bold;
    -webkit-box-shadow: 0px -5px 0px #66d9e0 inset;
    -moz-box-shadow: 0px -5px 0px #66d9e0 inset;
    box-shadow: 0px -5px 0px #66d9e0 inset;
  }

/*|||||||||||||||||||||||||||||||||||||||||||||
    Containers
  |||||||||||||||||||||||||||||||||||||||||||*/

.container {
    margin: 0 auto;
    padding-bottom: 3.5rem;
}
    .container--login {
        min-height: 100vh;
        padding: 0.1rem 1.25rem 1rem;
        background: #003253;
        background: radial-gradient(14rem at 50% 10rem, rgb(53, 91, 116), rgb(0, 50, 83));
    }
    .container--landing {
        width: 100%;
        z-index: -100;
        background: #002c49;
        background-image: linear-gradient(to bottom, rgb(0, 41, 69), rgba(0, 47, 77, 0.89) 39%, rgb(22, 62, 88) 64%, rgba(0, 43, 72, 0.95) 82%, rgba(0, 42, 70, 0.89) 91%, rgb(0, 41, 68));
        position: absolute;
        top: 0;
        margin: 0 auto;
        padding-bottom: 3rem;
    }

@media (min-width: 600px) {

    .container {
      margin: 4rem auto 0;
    }
    .container--login {
      margin: 0 auto;
    }
    .container--desktop {
      -webkit-box-shadow: 0 20rem 0 rgb(242, 242, 242);
      -moz-box-shadow: 0 20rem 0 rgb(242, 242, 242);
      box-shadow: 0 20rem 0 rgb(242, 242, 242);
      background-color: #f2f2f2;
      min-height: 90%;
      text-align: center;
      padding-bottom: 0.5rem;
      overflow-y: hidden;
    }
}

/*|||||||||||||||||||||||||||||||||||||||||||||
    Titles
  |||||||||||||||||||||||||||||||||||||||||||*/

.title {
  padding: 1.3125rem 0;
  margin: 0;
  line-height: 1.375rem;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: #ffffff;
}
    .title--dropdown {
      line-height: 1.375rem;
      max-width: 18.625rem;
      display: block;
      margin: 1rem auto;
      padding: 0.5rem 2.75rem 0.375rem 0.5rem;
      background-color: rgb(255, 255, 255);
      color: rgb(51, 51, 51);
      font-weight: bold;
      font-size: 0.875rem;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      border-radius: 0.375rem;
      background-image: url(../assets/Filter.png);
      background-position: right 0px;
      background-repeat: no-repeat;
      background-size: 2.25rem; /* 36px */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .title--dropdown:hover {
      background-image: url(../assets/Filter-hover.png);
    }
    .title--with-logo {
      padding: 0rem;
      margin-bottom: 1.7rem;
      font-size: 1.65rem;
      color: #000000;
      display: inline-block;
    }
    .title--with-logo--blue {
      color: #003253;
    }
    /*.title--mission {
      color: #000000;
      text-align: left;
      font-size: 1.125rem;
    }*/
    .title--tall {
      vertical-align: middle;
      display: table-cell;
    }
    .title--blue {
      color: #00233B;
    }
    /* used for titles with smaller font than standard (eg archived challenges title card in org profile view)*/
    .title--secondary {
      text-transform: none;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
    .title--opaque {
      opacity: 0.75;
    }
  .title__link { /* for when the title elem is wrapped in an anchor - this is for the anchor */
    display: block;
    text-decoration: none;
  }
  .title--filter {
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }
  .title--secondary-large {
    font-size: 1.125rem;
  }

  .title__challenge {
    font-size: 1.7rem;
    color: white;
    width: 80%;
    line-height: 1.25;
    padding: 1rem 0 2rem 2rem;
  }

@media (min-width: 600px) {

    .title--desktop {
      display: inline-block;
      text-align: left;
      color: #40667e;
      padding: 0.5rem 0 1rem 0;
      margin: 1rem 1.5rem;
      font-size: 1.125rem;
      width: 90%;
    }
    .title--inline {
      display: inline-block;
    }
    .title--extra-large {
      font-size: 1.75rem;
      padding: 3rem 0;
      margin: 0;
    }
    .title--org-name {
     padding: 2rem 0 0.3rem 0;
    }
    .title--inline-45 {
      width: 50%;
    }
    .title__challenge {
      font-size: 3.1rem;
      width: 80%;
      padding-left: 8rem;
      padding-bottom: 3rem;
    }
}

/*|||||||||||||||||||||||||||||||||||||||||||||
    Copy
  |||||||||||||||||||||||||||||||||||||||||||*/

.copy {
    display: block;
    margin: auto;
    text-align: left;
    line-height: 1.5;
}
    .copy--additional {
        color: #40667E;
    }
    .copy--login {
        color: #ffffff;
        text-align: center;
        margin: 0.8rem auto;
    }
    .copy--extra-padding {
        margin-bottom: 5rem;
    }



/*|||||||||||||||||||||||||||||||||||||||||||||
    Lists
  |||||||||||||||||||||||||||||||||||||||||||*/

.list {
    background-color: #ffffff;
}

    .list__item {
        color: #333333;
        position: relative;
        font-size: 1.125rem;
        padding: 1.5rem;
        list-style: none;
        border-bottom: 1px solid rgba(64, 101, 126, 0.1);
        line-height: 1;
    }
    .list__item--medium {
      padding: 1.25rem 8%;
      font-size: 1.125rem;
    }

    @media (min-width: 600px) {
      .list__item--people {
        padding: 1rem 3%;
        font-size: 1.125rem;
      }
    }

    .list__item--tall {
        padding: 1.75rem 1.5rem;
        line-height: 1.375rem;
    }
    .list__item--blue {
      padding: 1.25rem;
      background-color: #003253;
      color: #ffffff;
      border: none;
    }

        .list__data {
            display: block;
            color: #333333;
            padding: 0.3rem 0 0 0;
            font-size: 0.875rem;
            vertical-align: top;
        }
            .list__data--primary {
              color: #333333;
              font-size: 1.2rem;
              padding: 0;
              text-decoration: none;
            }
            .list__data--secondary {
              color: #40667E;
              padding: 0.1em 0em;
            }

            .list__data--user-type {
              padding: 0.2rem;
              background-color: #F2F2F2;
              font-size: 0.7rem;
              width: 3.1rem;
              text-align: center;
            }

            .list__data--occupation {
              padding: 0.2rem 0 0.4rem 0;
            }

            @media (min-width: 600px) {
              .list__data--user-type {
                width: auto;
                text-align: left;
              }

              .list__data--occupation {
                width: 23%;
              }
            }

            .list__data--s-padding {
              padding: 0.1rem 0 0 0;
            }

        .list__subblock {
            display: block;
            line-height: 1.375rem;
        }
            .list__subblock--inline {
              display: inline-block;
            }

            .list__subblock--w85 {
              width: 80%;
              margin-left: 0.5rem;
              padding-top: 0.5rem;
            }

            @media (min-width: 600px) {
              .list__subblock--w85 {
                width: 85%;
              }
            }

        .list__logo {
          float: left;
          background-color: transparent;
          margin: 0.7rem 1.5rem 0 0;
          max-height: 2.625rem;
          max-width: 3rem;
          border: none;
          border-radius: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
            .list__logo--undefined {
              width: 3rem;
              height: 3rem;
            }

        .list__icon {
            height: 1.3rem;
            width: 1.3rem;
            position: absolute;
        }

        .list__icon--padded {
            top: 1rem;
            right: 1.3rem;
        }

        @media (min-width: 600px) {
          .list__subblock--challenge {
            border-bottom: solid 1px #F2F2F2;
            margin: 0 2rem 0 4rem;
          }
        }

/*|||||||||||||||||||||||||||||||||||||||||||||
    Tags
  |||||||||||||||||||||||||||||||||||||||||||*/


.tag__title {
    cursor: pointer;
    text-align: center;
    font-size: 0.875rem;
    display: block;
    margin: 0;
    padding: 1rem;
    line-height: 1rem;
    border-top: solid 0.5px rgba(0,49,83,0.1);
    color: #40667e;
    text-transform: uppercase;
}

.tag__title + input {
    display: none;
}
.tag__title + input + div {
    display: none;
}
.tag__title + input:checked + div {
    display: block;
}

.tag__input {
    display: none;
}

.tag__label {
  display: inline-block;
  margin: 0 0.125rem 0.425rem 0;
  padding: 0.6875rem 0.5rem; /* 11px 8px */
  font-size: 0.875rem; /* 14px */
  line-height: 0.875rem;
  background-color: transparent;
  border: solid 1px rgba(0,50,83, 0.5);
  border-radius: 0.375rem;
  color: #40667e;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
}
.tag__label:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.tag__label:active {
  background-color: #40667E;
  color: white;
}
.tag__input:checked + .tag__label {
  background-color: #40667E;
  border: solid 1px #40667E;
  color: #ffffff;
}
    .tag__label--selected {
      background-color: #40667E;
      border: solid 1px #40667E;
      color: #ffffff;
      cursor: default;
    }
    .tag__label--selected:hover {
      background-color: #003253;
      cursor: pointer;
    }
    .tag__label--disabled {
      opacity: 0.5;
    }
    .tag__label--disabled:hover {
      cursor: default;
      background-color: #40667E;
    }

/*|||||||||||||||||||||||||||||||||||||||||||||
    Shapes
  |||||||||||||||||||||||||||||||||||||||||||*/

.circle {
    display: inline-block;
    background-color: rgba(64, 102, 126, 0.25);
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

/*|||||||||||||||||||||||||||||||||||||||||||||
    Cards
    -------- (Cards are blocks of content)
  |||||||||||||||||||||||||||||||||||||||||||*/


.card {
    padding: 2.75rem 1.55rem 1.75rem;
    text-align: center;
    color: #333333;
    border-bottom: 1px solid rgba(64, 101, 126, 0.1);
    line-height: 1;
    position: relative;
}
.card--header {
    border: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
    padding: 0;
    color: initial;
    border: none;
    background: #003253;
    min-height: 4rem;
}
.card--header-with-logo {
  background: white;
  padding-bottom: 3rem;
}
@media (min-width: 600px) {
  .card--header-with-logo {
    margin-bottom: 0.5rem;
    border-bottom: lightgray 1.5px solid;
  }
}
.card--header-tags {
  background-image: radial-gradient(circle at 50% 50%, rgba(0, 49, 83, 0.89), #002944);
}
.card--header--white {
    background: #fafafa;
    border-bottom: #40667E 1px solid;
}
.card--tall {
    height: 7.5rem; /* 120px */
}
.card--details {
    padding: 1.25rem 1.5rem 1.25rem 1.25rem;
    text-align: left;
}
.card--blue {
    background-color: #003253;
    color: #ffffff;
    border: none;
}
    .card__header {
        display: block;
        margin-bottom: 1rem;
        font-size: 0.875rem;
        text-decoration: none;
    }
        .card__header--challenge {
            color: #333333;
            font-size: 1.125rem;
            line-height: 1.375rem;
            margin-bottom: 0.3rem;
            text-align: left;
        }
        .card__header--challenge-bg{
          background-color: #061E2E;
          min-height: 12.5rem;
          margin: 0
        }
        .card__header--people {
          padding: 2rem;
          font-size: 1.125rem;
          background-color: #F2F2F2;
        }
        @media (min-width: 600px) {
          .card__header--people {
            padding-left: 1rem;
          }
        }
        .card__data--link:hover {
            color: #003253;
        }
        .card__header--extra-margin {
            margin-bottom: 0.875rem;
        }
        .card__header--suggested-matches {
            font-size: 1rem;
            color: #333333;
            padding-bottom: 0.5rem;
            font-weight: 900;
        }
.card__editable {
  display: inline-block;
  width: 90%;
}
.card__copy {
    font-size: 0.875rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}
.card__copy--extra-margin {
    margin-bottom: 1.75rem;
}
.card__data {
    display: block;
    margin-bottom: 0.5rem;
}
        .card__data--link {
          color: inherit;
        }
        .card__data--linked-button {
          font-size: 1.5rem;
          text-align: center;
          text-decoration: none;
          color: inherit;
        }
        .card__data--prim-contact {
          color: #40667E;
          text-decoration: none;
        }
        .card__data--prim-contact:hover {
          color: #003253;
        }
    .card__additional {
      color: #40667E;
      transform: translate(0%,50%);
      -webkit-transform: translate(30deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translate(30deg); /* IE 9 */
    }
        .card__additional--small {
          font-size: 0.8rem;
          transform: initial;
          padding-top: 0.5rem;
          margin-bottom: 0;
        }
        .card__section--bottom {
          margin: 1.75rem auto auto auto;
        }

    .mission-statement--text {
      max-height: 6.3rem;
      padding-top: 0;
      overflow: hidden;
    }

    #see_more:checked ~ .mission-statement--text {
      max-height: none;
      overflow: visible;
    }

    @media (min-width: 600px) {
      .org-tags {
        padding-top: 5rem;
        padding-left: 6rem;
      }
    }

    .mission-statement {
      position: relative;
    }

    .mission-statement:after {
      content: "";
      position: absolute; top: 0; bottom: 0; left: -7px; right: -7px;
      box-shadow: inset rgba(255,255,255,0.7) 0 -11px 10px;
    }

/*|||||||||||||||||||||||||||||||||||||||||||||
    Landing Page - Site Navigation
  |||||||||||||||||||||||||||||||||||||||||||*/

  .landing__card-wrapper {}
  .landing__welcome-message {
    margin: 3.375rem 0;
    padding: 4rem 2rem;
    color: #ffffff;
    text-align: center;
  }
  .landing__title {
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom: 3rem;
  }
  .landing__copy {
    font-size: 0.875rem;
    padding: 0 1.75rem;
    line-height: 1.5;
  }
  .landing__card {
    display: block;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.07);
    text-align: center;
    padding: 1.875rem 2rem;
    margin-bottom: 0.875rem;
  }
  .landing__card-title {
    font-size: 1.125rem;
    text-transform: uppercase;
    line-height: 1.333rem;
    margin-bottom: 1.25rem;
  }
  .landing__card-description {
    font-size: 1rem;
    display: block;
    color: #ffffff;
    min-height: 3rem;
  }

@media (min-width: 600px) {
  .landing__welcome-message,
  .landing__card-wrapper {
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .landing__welcome-message {
    margin-top: 2rem;
    margin-bottom: 3.375rem;
    padding-bottom: 0;
    text-align: left;
  }
  .landing__title {
    margin-bottom: 2rem;
  }
  .landing__copy {
    padding: 0;
    max-width: 30rem;
    font-size: 1.75rem;
  }
  .landing__card {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 1.125rem;
    margin-bottom: 1.125rem;
    padding: 2rem;
    width: 19.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 18rem;
  }
  .landing__card-title {
    font-size: 1.3125rem;
    margin-bottom: 2rem;
  }
  .landing__card-description {
    font-size: 1rem;
  }
}

/*|||||||||||||||||||||||||||||||||||||||||||||
    Forms
  |||||||||||||||||||||||||||||||||||||||||||*/


.form {
    margin-top: 2rem;
    padding: 0 7%;
    text-align: center;
}
.form--login {
    max-width: 22rem;
    margin: 3rem auto 0;
    padding: 0;
}
.form--tags {
    margin: 0;
    padding: 0;
}
    .form__section {
        margin-bottom: 1.75rem; /*28 px*/
    }
      .form__section--left-align {
        text-align: left;
      }
      .form__section--main {
        border-bottom: solid 1px rgba(0, 49, 83, 0.1);
      }
      .form__section--tags-block {
          margin-bottom: 0;
          padding: 0 1rem;
      }

      /*Section containing the submit button of the form*/
      .form__section--last {
        border-bottom: none;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
      }
      .form__section--radio {
        text-align: left;
      }
  .form__subsection {
    padding: 0 0.875rem;
    text-align: left;
  }
    .form__label, .form__input {
        display: block;
        text-align: left;
        font-size: 0.8rem;
    }

    .form__label {
        margin-bottom: 0.8125rem; /* 13px */
        /*space between the bottom of a form input and the top of the next label is 37px*/
        /*This is calculated with 28px margin bottom of a form input, and 9px padding-top of a form label*/
        padding-top: 0.5625rem; /* 9px */
        color: #333333;
        font-size: 1rem;
    }
        .form__label--long {
          text-transform: none;
        }
        .form__label--additional {
          /*Gives the user additional information on filling out a specific input*/
          color: #40667E;
          font-size: 0.875rem;
          padding-top: 0;
          margin-top: -0.5rem;
        }

        .form__label--radio, .form__input--radio {
            display: inline-block;
            width: auto;
        }
        .form__label--radio {

        }
        .form__label--no-input {
            margin-bottom: 2.5rem; /* 40px */
        }

        .form__label--center {
          text-align: center;
        }

    .form__input {
        margin-bottom: 1.75rem; /* 28px */
        font-family: inherit;
        font-size: 0.875rem; /* 14px */
        width: 100%;
        color: #333333;
        border-radius: 3px;
        background-color: #f2f2f2;
        border: solid 1px #ebeced;
        padding: 0.5625rem 0.875rem; /* 9px 14px */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
      .form__input-error {
        border: 1px solid #f5c7c7;
        background-color: #fff4f4;
      }
      .form__input--text-area {
        min-height: 4.438rem; /* 71px */
        -webkit-box-shadow: inset 0 0.0625rem 0.0625rem 0 #89a0ae;
        -moz-box-shadow: inset 0 0.0625rem 0.0625rem 0 #89a0ae;
        box-shadow: inset 0 0.0625rem 0.0625rem 0 #89a0ae;
        border: none;
        line-height: 1.3rem;
      }
      .form__input--text {
        -webkit-box-shadow: inset 0 0.0625rem 0.0625rem 0 #89a0ae;
        -moz-box-shadow: inset 0 0.0625rem 0.0625rem 0 #89a0ae;
        box-shadow: inset 0 0.0625rem 0.0625rem 0 #89a0ae;
        border: none;
        min-height: 2.438rem; /* 39px */
      }
    /* Focus state styles */
        .form__input:focus {
            outline-offset: -0.5rem;
        }
    /* Placeholder styles */
        .form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #40667E;
        }
        .form__input::-moz-placeholder { /* Firefox 19+ */
          color: #40667E;
          opacity: 1;
        }
        .form__input:-ms-input-placeholder { /* IE 10+ */
          color: #40667E;
        }
        .form__input:-moz-placeholder { /* Firefox 18- */
          color: #40667E;
          opacity: 1;
        }
        .form__input--non-editable {
          background-color: #fafafa;
          border: none;
          padding: 0.625rem 0 0.375rem;
          display: inline-block;
        }
        .form__input--login {
            height: 2.5rem;
            margin: 1rem auto;
            padding: 0;
            background-color: #184460; /* teal colour */
            border: none;
            border-radius: 25px;
            color: #ffffff;
            text-indent: 1.25rem;
        }
        .form__input--login:focus {
            border: solid 1px rgba(102, 216, 224, 0.5);
        }
        /* Placeholder styles */
        .form__input--non-editable {
          background-color: #fafafa;
          border: none;
          padding: 0.625rem 0 0.375rem;
        }
        .form__input--login::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #40667E;
        }
        .form__input--login::-moz-placeholder { /* Firefox 19+ */
          color: #40667E;
          opacity: 1;
        }
        .form__input--login:-ms-input-placeholder { /* IE 10+ */
          color: #40667E;
        }
        .form__input--login:-moz-placeholder { /* Firefox 18- */
          color: #40667E;
          opacity: 1;
        }


    .form__copy {
      font-size: 0.875rem; /* 14px */
      text-align: center;
      color: #333333;
      margin-bottom: 1.438rem;
    }


    .form__anchor {
        color: #40667E;
        text-decoration: none;
    }
        .form__anchor--danger:visited {
            color: #40667E;
        }
        .form__anchor--danger:link {
            margin: 2.625rem auto 2.625rem; /* 42px = 2.625rem */
            display: block;
        }
        .form__anchor--danger:hover {
          color: #003253;
        }


/*|||||||||||||||||||||||||||||||||||||||||||||
    Buttons
  |||||||||||||||||||||||||||||||||||||||||||*/

.button {
    display: block;
    margin: 0 auto 2rem auto;
    padding:  0.625rem 1.375rem; /* 10px 22px */
    min-width: 10.13rem; /* 162 px */
    line-height: 1.5rem;
    cursor: pointer;
    font-size:  0.875rem; /* 14px */
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    background-color: #003253;
    border: none;
    border-radius: 3rem;
}
.button:active {
  background-color: #40667E;
}
.button:hover {
  background-color: #002944;
}
    .button--secondary {
      background-color: transparent;
      color: white;
      border: solid 1px #40667E;
    }
    .button--secondary:active {
      border: solid 1px #40667E;
      background-color: transparent;
      color: #40667E;
    }
    .button--login {
        margin: 2rem auto 0;
        width: 100%;
        text-indent: 0;
        line-height: 1;
        font-size: 0.875rem;
        text-shadow: 0 1px 0 rgba(0, 49, 83, 0.07);
    }
    .button--login:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .button--margin {
        margin-bottom: 2rem;
    }
    .button--small {
        padding: 0.1875rem 0;
        min-width: 6rem;
        font-size: 0.875rem;
        background-color: rgb(0, 50, 83);
        border-radius: 3rem;
    }
    .button--short {
        padding: 0.625rem 0.1875rem;
    }
    .button--landing {
        background-color: transparent;
        border: solid 1px #66d9e0;
        margin-top: 1.25rem;
        margin-bottom: 0rem;
    }
    .button--landing:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .button--clear {
        color: #40667E;
        background-color: transparent;
        border: solid 1px #40667E;
    }

    .button--dark-blue {
        color: #40667e;
        border: solid 1px #40667e;
    }
    .button--dark-blue:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .button--edit {
        margin: 2rem auto;
        padding: 0.25rem 0.5rem;
        min-width: 8.13rem;
        color: #40667e;
        text-align: center;
        background-color: #fafafa;
        border: 1px solid #40667e;
        border-radius: 0.5rem;
    }
    .button--edit__text {
      padding-left: 0.5rem;
    }
    .button--edit:hover {
      background-color: #fafafa;
      color: #002944;
      border: 1px solid #002944;
    }

@media (min-width: 600px) {
  .button--landing {
    position: absolute;
    right: 2rem;
    left: 2rem;
    bottom: 2rem;
  }
  .button--edit {
      margin: 2rem 0;
  }
}

.indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  float: right;
  margin: 0.375rem 0;
}
  .indicator--active {
      background-color: #4bc097;
  }
  .indicator--inactive {
    background-color: #e33838;
  }
  .indicator--pending {
    background-color: #e3dc38;
  }
  .indicator--left {
    float: left;
    margin: 0.5rem -1rem;
  }

/*|||||||||||||||||||||||||||||||||||||||||||||
    Anchors
  |||||||||||||||||||||||||||||||||||||||||||*/

.anchor {
  color: #40667e;
  text-decoration: none;
}
.anchor:link {
    text-align: center;
    color: #40667e;
}
.anchor:visited {
    color: #40667e;
}
.anchor:active {
    color: #40667E;
}
    .anchor--additional, .anchor--additional:link, .anchor--additional:visited  {
        color: #40667e;
    }

    .anchor--additional:active {
        color: #40667e;
    }
    .anchor--red:link, .anchor--red:hover, .anchor--red:visited {
        color: #900000;
    }
    .anchor--login, .anchor--login:visited, .anchor--login:link {
      color: white;
      margin: 2.1875rem auto; /* 35px */
      width: 100%;
      font-size: 0.875rem; /* 14px */
      display: block;
    }
    .anchor--suggested-matches, .anchor--suggested-matches:link {
      font-size: 1rem;
      display: block;
      text-align: left;
      width: 100%;
      color: #40667e;
      margin: 0 0 1.1875rem 0;
    }
    .anchor--shared-by, .anchor--shared-by:link, .anchor--shared-by:visited {
        font-size: 0.875rem;
        line-height: 1;
    }
    .anchor--left, .anchor--left:link, .anchor--left:visited {
        text-align: left;
        padding: 0.4rem 0 0 0;
        margin: 0;
    }
    .anchor--right, .anchor--right:link, .anchor--right:visited {
        text-align: right;
    }
    .anchor--top-margin, .anchor--top-margin:link, .anchor--top-margin:visited {
        margin: 1.75rem 0.5rem 0 0;
    }
    .anchor--small, .anchor--small:link, .anchor--small:visited {
        font-size: 0.875rem;
    }
    .anchor:hover, .anchor--shared-by:hover, .anchor--suggested-matches:hover, .anchor--additional:hover {
      color: #003253;
    }
    .anchor--login:hover {
      color: #dfdfdf;
    }
    .anchor--grey:link, .anchor--grey:hover, .anchor--grey:visited {
      color: #9cafbb;
    }
    .anchor--white:link, .anchor--white:hover, .anchor--white:visited {
      color: #FFFFFF;
      padding-bottom: 2rem;
    }

/*|||||||||||||||||||||||||||||||||||||||||||||
    Logo
  |||||||||||||||||||||||||||||||||||||||||||*/

.logo {
    display: block;
    margin: 0 auto 2rem;
}
    .logo--login {
      padding-top: 6rem;
      width: 9rem;
      margin: 0 auto 4rem;
    }
    .logo--with-title {
      margin: 1.7rem auto 0.5rem;
      background-color: #ffffff;
      border-radius: 50%;
      max-width: 2.9rem; /* 46px */
    }
    .logo--with-title-default {
      background-color: transparent;
      border-radius: 0;
    }
    .logo--with-title-custom {
      width: 2.9rem;
      height: 2.9rem;
      background-color: transparent;
    }


/*|||||||||||||||||||||||||||||||||||||||||||||
    Helper classes
  |||||||||||||||||||||||||||||||||||||||||||*/
.u-float-left {
  float: left
}

.u-float-right {
  float: right
}

.u-capitalise {
  text-transform: capitalize;
}

.u-text-decoration--none {
  text-decoration: none;
}

.log-in-logo {
  width: 60%;
  max-width: 300px; /*Just a guess*/
  margin: 0 auto;
  padding: 7rem 0 4rem 0;
}

.log-in-fields {
  width: 75%;
  margin: 2rem auto;
  border: 1px solid #618298;
  border-radius: 25px;
}

.daintree--blue {
  background: #00233B;
}

.u-teal {
    color: #40667E;
}
.u-teal:link {
    color: #40667E;
}

.u-teal:visited {
  color: #40667E;
}

.u-text-wrap {
  word-break: break-word;
  line-height: 1;
  padding: 0.2rem 0;
  text-align: left;
}

.u-no-margin {
  margin: 0;
}

.table {
  display: table;
  width: 100%;
}
.table__half-width {
  width: 50%;
  padding: 0 0.5rem;
  display: table-cell;
  text-align: center;
}

.panels {
    display: block;
    overflow: hidden;
}

/*-----------FEEDBACK WIDGET-------------*/

.widget__feedback {
  font-size: 1em;
  padding: 1em 1em 1em 4em;
  color: #ffffff;
  background-color: #003253;
  position: fixed;
  right: -2.5rem;
  bottom: 3.5rem;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/*-----------NAVBAR TOP-------------*/
.navbar__top {
    background-color: #003253;
    height: 3.4rem;
}
.navbar__top__logo {
    width: 2.6rem;
    margin-top: 0.7rem;
    margin-left: 1.1rem;
}
.navbar__top__links {
    display: inline;
}
.navbar__top__link {
    font-size: 0.7rem;
    color: white;
    text-decoration: none;
    float: right;
}
.navbar__top__item {
    display: inline;
    float: right;
    padding-right: 0.6rem;
    padding-top: 0.9rem;
}


.navbar-top {
  background-color: #003253;
  height: 3.4rem;
  display: table;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(64, 102, 126, 0.25);
  -moz-box-shadow: 0 2px 4px 0 rgba(64, 102, 126, 0.25);
  box-shadow: 0 2px 4px 0 rgba(64, 102, 126, 0.25);
}
.navbar-top__item {
  display: table-cell;
  vertical-align: middle;
}
    .navbar-top__logo {
      width: 2.6rem;
      height: 2rem;
      float: left;
      margin-left: 1rem;
    }
    .navbar-top__burger {
      float: right;
      margin-right: 1.3rem;
    }
        .navbar-top__burger--checkbox {
          display: none;
        }
        .navbar-top__add--checkbox {
          display: none;
        }

        .navbar-top__burger--checkbox:checked ~ .toggle-menu__top--burger {
            display: block;
            position: fixed;
        }
        .navbar-top__add--checkbox:checked ~ .toggle-menu__top--add {
            display: block;
        }

/*|||||||||||||||||||||||||||||||||||||||||||||
    snackbar classes
  |||||||||||||||||||||||||||||||||||||||||||*/

.snackbar {
  text-align: center;
  padding: 0.4rem 0;
}
  .snackbar--error {
    background-color: #ffe2e2;
  }
  .snackbar--success {
    background-color: rgba(102, 216, 224, 0.1);
  }
.snackbar__content {
  text-align: center;
  font-size: 0.8rem;
}
  .snackbar__content::first-letter {
    text-transform: capitalize;
  }
    .snackbar__content--error {
      color: #e4164c;
    }
    .snackbar__content--success {
      color: #40667E;
      padding: 0.85rem 0.9rem; /* padding: 21px 15px; --> padding here considers .snackbar padding. Should total to (padding: 1.25rem 0.9rem) */
      font-size: 0.875rem;
      line-height: 1.31rem;
    }
    .login-response--error {
      color: #ff5e5e;
      padding-top: 1rem;
    }
    .login-response--success {
      color: #5db4c0;

    }
/*|||||||||||||||||||||||||||||||||||||||||||||
    Desktop media queries
  |||||||||||||||||||||||||||||||||||||||||||*/

  .desktop {
    display: none;
  }

  .navbar-top--desktop {
    display: none;
  }

@media (min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .navbar-top--desktop {
    display: table;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .navbar-top__item--desktop {
    padding: 0 0.7rem;
    line-height: 4rem;
  }
  .navbar-top__item--desktop:hover {
    background-color: #002944;
    -webkit-box-shadow: 0px -5px 0px #66d9e0 inset;
    -moz-box-shadow: 0px -5px 0px #66d9e0 inset;
    box-shadow: 0px -5px 0px #66d9e0 inset;
  }
  .navbar-top__item--active-border {
    -webkit-box-shadow: 0px -5px 0px #66d9e0 inset;
    -moz-box-shadow: 0px -5px 0px #66d9e0 inset;
    box-shadow: 0px -5px 0px #66d9e0 inset;
  }
  .navbar-top__item--burger:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  .navbar-top__logo {
    width: 5rem;
    height: 3rem;
  }

  .navbar__icon--desktop {
    display: inline-block;
    transform: translateY(0.2rem);
  }
  .navbar-top__link--desktop {
    font-size: 0.875rem;
    padding-left: 0.4rem;
    float: inherit;
  }
  .navbar-top__links {
    float: right;
  }
  .toggle-menu__top {
    top: 3.8rem;
  }
  .toggle-menu__top--burger {
    padding: 4rem 0;
  }
  .toggle-menu__link--add {
    padding: 2rem 0;
  }
  .togglebar__link--desktop, .togglebar__link--desktop:link, .togglebar__link--desktop:visited {
    font-size: 1rem;
  }
  .logo--desktop {
    position: relative; /* allows for top adjustments */
    top: 0.125rem;
    display: inline-block;
    vertical-align: top;
    padding-top: 2rem;
    margin: 0 1rem 0 0;
  }
  .list__logo {
    width: 2.875rem;
    max-height: 3.125rem;
    margin-top: 0.5rem;
  }
  .list__item--desktop {
    font-size: 1rem;
    padding: 1.5rem 2rem;
  }
  .list__item--blue {
    background-color: inherit;
    color: #40667e;
    text-align: left;
  }
  .indicator--left {
    margin: 0.5rem -1.2rem;
  }
  .d-card--centred {
    max-width: 35rem;
    margin: auto;
  }

  .card {
    text-align: left;
  }

  .card--desktop {
    height: auto;
    padding: 1.5rem 0rem;
    background-color: #ffffff;
    border: none;
    vertical-align: top;
  }
  .card--desktop-small {
    width: 38%;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
  }
  .card--desktop-challenge {
    min-width: 69%;
    min-height: 25rem;
  }
  .card--desktop-challenge-view {
    min-height: 40rem;
    text-align: left;
  }
  .card--desktop-no-padding {
    padding: 0;
  }
  .card--desktop--padded {
    padding: 0.8rem 1.5rem;
  }
  .card--narrow {
    padding: 0.5rem 0rem;
    border-bottom: 0;
  }
  .list__item--blue {
      background-color: inherit;
      color: #333333;
      text-align: left;
  }
  .card--blue {
      background-color: inherit;
      color: #40667e;
      border: inherit;
  }
  .card__copy--challenge {
    font-size: 1rem;
    margin-bottom: 2rem;

  }
  .card__header--challenge {
    font-size: 1.3125rem;
  }
  .list__data--inline {
    display: inline-block;
  }
  .list__item--blue {
      background-color: inherit;
      color: #40667e;
      text-align: left;
  }
  .card__header--desktop {
      font-size: 1rem;
  }
  .card__header--desktop-large {
      font-size: 1.125rem;
      padding: 0.375rem 0;
  }
  .card__header--underline {
      padding: 1.5rem 1rem 1rem 4rem;
      margin-bottom: 1.2rem;
      border: #f2f2f2;
      border-bottom-style: solid;
      border-bottom-width: thin;
      background-color: #F9F9F9;
  }
  .card__header--inline {
      display: inline-block;
  }
  .card__data--desktop, .card__copy--desktop {
      font-size: 1rem;
  }
  .card--people {
    padding-left: 0;
    padding-bottom: 0;
    text-align: left;
  }

  @media (min-width: 600px) {
    .card--people {
      min-height: 25rem;
    }
  }
  .copy--login {
    font-size: 1.3125rem; /* 21px */
    max-width: 21.0625rem; /* 337px */
  }

  .anchor--login {
    font-size: 1rem;
    margin: 1.8rem auto 0.1rem;
  }
  .anchor--desktop, .anchor--desktop:link, .anchor--desktop:visited {
    display: inline-block;
    float: right;
    padding: 0;
    font-size: 1rem;
  }
  .anchor--small {
    font-size: 1rem;
  }
  .icon--profile {
    width: 1.5rem;
  }
  .icon--desktop {
    padding-top: 0.5rem;
    width: 1.4rem;
  }
  .icon--edit-challenge-on-profile {
      /*ensure icon is blue when in desktop (on a challenge card in org details view)*/
      background-image: url("../assets/Edit.svg");
  }
  .icon--edit-challenge-on-profile:hover {
    background-image: url("../assets/Edit-hover.svg");
  }
  .icon--inline {
    display: inline-block;
    margin: 0 0 0 1rem;
  }
  .icon--open-link-white {
    background-image: url("../assets/open-link.svg");
    display: inline-block;
    margin-left: 0.4rem;
  }
  .form--desktop {
    margin: 2rem auto;
    max-width: 50rem;
  }
  .form__subsection--desktop {
      padding: 1rem 15rem;
  }
  .button-group--desktop {
      text-align: left;
      padding: 0 10rem 0 15rem;
  }

  .button--desktop {
      display: inline-block;
      margin-right: 1.5rem;
  }
  .button--top-margin {
      margin: 1.5rem 0 0;
  }

  /* ---------------------------------------------- */
  /* ------------------- TAGS --------------------- */
  /* ---------------------------------------------- */

  .form__section--tags-block {
    padding: 0;
    margin: 0 15rem;
    text-align: left;
  }
  .form__section--tags {
    padding-bottom: 0;
  }
  .tag__title--desktop {
      font-size: 1rem;
      text-align: left;
      padding: 1rem 15rem;
  }
  .widget__feedback {
      bottom: 0rem;
  }

  .panels--fixed-width {
      width: 95%;
      margin: 0 auto;
  }

  .tag__labels {
    text-align: left
  }

/* ---------------------------------------------- */
/* ------------- DESKTOP HELPERS ---------------- */
/* ---------------------------------------------- */

  .desktop-grid {
      display: inline-block;
      word-wrap: break-word;
  }

  .desktop-grid--twenty {
      width: 20%;
  }
  .desktop-grid--quarter {
      width: 25%;
  }
  .desktop-grid--third {
      width: 30%
  }
  .desktop-grid--half {
      width: 50%;
  }
  .desktop-grid--two-thirds {
      width: 60%;
  }
  .desktop-grid--fluid {
      width: auto;
  }

  .du-float-left {
      float: left;
  }
  .du-float-right {
      float: right;
  }
  .du-no-padding {
      padding: 0;
  }
}

/* ---------------------------------------------- */
/* ------------------ MODAL --------------------- */
/* ---------------------------------------------- */

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgb(255,255,255); /* fallback background color */
  background-color: rgba(255, 255, 255, 0.7);
}

.modal__content {
  width: 640px;
  margin: 7% auto 0;
  background-color: white;
  overflow: auto;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 2px 8px rgba(137,160,174,0.5);
  -moz-box-shadow: 0px 2px 8px rgba(137,160,174,0.5);
  box-shadow: 0px 2px 8px rgba(137,160,174,0.5);
}

.icon--cancel--modal {
  cursor:pointer;
}

.tag__title--modal {
  font-size: 1rem;
  text-align: left;
  padding: 1rem 3rem;
}

.form__subsection--modal {
  padding: 1rem 3rem;
}

.tag-list--modal {
  overflow: auto;
  height: 400px; /* fallback fixed height */
  height: 40vh;
}

.button-group--modal {
  background-color: rgba(137, 160, 174, 0.2);
}

.button-select--modal {
  width: 50%;
  margin: 2rem;
  display: inline-block;
  border: solid 1px rgb(0, 50, 83); /* border added to make this button match
    the size of the cancel button. This prevents any unwanted whitespace
    appearing at the bottom of the modal */
}

.button-cancel--modal {
  width: 35%;
  margin: 2rem 2rem 2rem 0;
  float: right;
  display: inline-block;
}

/* This class will be applied to the body so that it does not scroll when modal is open */

.noscroll {
  overflow: hidden;
}


/* ---------------------------------------------- */
/* ---------- MEDIA QUERY MODAL MOBILE ---------- */
/* ---------------------------------------------- */

@media (max-width: 700px) {

  .card__data--link:hover {
    color: inherit;
  }

  .card--header--modal {
    position: fixed;
  }

  .error--message-modal {
    margin-top: 64px;
  }

  .tag__title--modal {
    font-size: 1rem;
    text-align: left;
    padding: 1rem;
  }

  .form__subsection--modal {
    padding: 1rem;
  }

  .modal__content {
    width: auto;
    margin: auto;
  }

  .tag-list--modal {
    height: auto;
    margin-bottom: 154px;
  }

  .button-group--modal {
    background-color: rgba(137, 160, 174, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .button-select--modal, .button-cancel--modal {
    margin: 1rem;
    float: none;
    width: auto;
    min-width: 7.8rem;
  }

}

/* ---------------------------------------------- */
/* ---------- INTERCOM MOBILE PLACEMENT ---------- */
/* ---------------------------------------------- */


@media (max-width: 600px) {
  #intercom-container .intercom-launcher-frame {
    margin-bottom: 3rem;
  }
}

.profile_photo {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
}

.contact_icon {
  vertical-align: middle;
  width: 0.9rem;
  display: inline-block;
}

/* Top white search section (search bar and dropdown ordering)*/
.search-bar{
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  margin-bottom: 0.6rem;
}

/* People Page Search bar*/

.people__search {
  display: none;
  width: 65%;
  padding: 1rem 0 0 2rem;
}

    .search__icon {
      width: 1rem;
      display: inline-block;
      vertical-align: middle;
      padding-top: 0.25rem;
    }
    .people__search__input {
      width: 18rem;
      border-style: none;
      border-width: 0;
      font-size: 0.875rem;
      color: #40667e;
      padding: 0.25rem 0.5rem;
    }

    /* Placeholder styles */
    .people__search__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #40667E;
    }
    .people__search__input::-moz-placeholder { /* Firefox 19+ */
      color: #40667E;
      opacity: 1;
    }
    .people__search__input:-ms-input-placeholder { /* IE 10+ */
      color: #40667E;
    }
    .people__search__input:-moz-placeholder { /* Firefox 18- */
      color: #40667E;
      opacity: 1;
    }


@media (min-width: 600px) {
  .people__search {
    display: inline-block;
    width: 65%;
  }
}

/* Dropdown A-Z order*/
.sorting-section {
  color: #40667e;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(64, 101, 126, 0.1);
  display: inline-block;
  width: 100%;
  text-align: center;
}

@media (min-width: 600px) {
  .sorting-section {
    width: 30%;
    text-align: right;
  }
}

    .sorting-section__text {
      display: inline-block;
      padding: 0 0.75rem 0 0;
    }

    .dropdown-div {
      position: relative;
      width: 184px;
      display: inline-block;
    }

    @media (min-width: 600px) {
      .dropdown-div {
        width: 154px;
      }
    }
        .dropdown {
          display: inline-block;
          border-style: solid;
          border-width: 1px;
          border-color: #40667e;
          padding: 0 1rem 0 0.75rem;
          border-radius: .25rem;
          margin: 0.75rem 1rem 0.75rem 0;
          width: 154px;
          text-align: center;
          cursor: pointer;
        }

        .dropdown--options {
          position: absolute;
          top: 25px;
          left: 0px;
          background-color: white;
          z-index: -1;
          display: none;
        }

        .dropdown__text {
          display: inline-block;
          /*width: 88%;*/
          color: #40667e;
        }

        @media (min-width: 600px) {
          .dropdown {
            width: 7rem;
          }

          .dropdown__text {
            width: 77%;
          }
        }
            .dropdown__text--no-arrow {
              width: 100%;
              padding: 0
            }

        .dropdown__arrow {
          width: 0.6rem;
          display: inline-block;
          vertical-align: middle;
          padding-left: 0.25rem;
          float: right;
          padding-top: 0.5rem;
        }

    #alphabeticalOrder:checked ~ .dropdown--options {
      display: block;
      z-index: 1;
    }

    /* Search Results Page */
    .results {
      padding: 1rem 8%;
      color: #003253;
      font-size: 1rem;
    }

    @media (min-width: 600px) {
      .results {
        padding: 1.5rem 3% 0rem 3%;
      }
    }

    .results__category {
      font-size: 0.875rem;
      font-weight: bold;
    }

    .results--none {
      padding-left: 8%;
    }

    @media (min-width: 600px) {
      .results--none {
        padding-left: 3%;
      }
    }

    .results__card {
      background-color: #FFFFFF;
      font-size: 1rem;
      padding: 1rem 8%;
      border-bottom: 1px solid rgba(64, 101, 126, 0.1)
    }

    @media (min-width: 600px) {
      .results__card {
        padding: 1rem 3%;
      }
    }

    .results__card--title {
      text-decoration: none;
      color: #40667E;
    }

    @media (min-width: 600px) {
      .results__card--title{
        display: inline-block;
        width: 50%;
        color: #40667E;
        text-decoration: none;
      }
    }

    .results__card--author {
      color: rgba(64, 102, 126, 0.75);
      font-size: 0.875rem;
    }

    @media (min-width: 600px) {
      .results__card--author{
        display: inline-block;
        color: rgba(64, 102, 126, 0.75);
        width: 22%;
      }
    }

/* UTILITY CLASSES */

.pa0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

@media (max-width: 600px) {
  .pt0-s {
    padding-top: 0;
  }
}

@media (min-width: 600px) {
  .pt0-ns {
    padding-top: 0;
  }
}

.pt3 {
   padding-top: 1rem;
 }

.pr4 {
  padding-right: 2rem;
}

.pb3 {
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .pb4-s {
    padding-bottom: 2rem;
  }
}

.pl1 {
  padding-left: 0.25rem;
}

.pl2 {
  padding-left: 0.5rem;
}

.pl3 {
  padding-left: 1rem;
}

@media (min-width: 600px) {
  .pl2-ns {
    padding-left: 0.5rem;
  }
}

@media (min-width: 600px) {
  .pl5-ns {
    padding-left: 4rem;
  }
}

.mr3 {
  margin-right: 1rem;
}

.mr4 {
  margin-right: 2rem;
}

.mb3 {
  margin-bottom: 1rem;
}

.ml5 {
  margin-left: 4rem;
}

.display-none {
  display: none;
}

.dib {
  display: inline-block;
}

.v-top {
  vertical-align: top;
}

.tl {
  text-align: left;
}

.b {
  font-weight: bold;
}

/* On the organisation view page*/
.card--people-mobile {
  padding: 0.5rem 0 0.5rem 1rem;
  text-align: left;
  display: block;
  border-bottom: solid 1px rgba(64, 101, 126, 0.1);
}

.see-more-label {
  cursor: pointer;
}

/*Needs refactoring below here*/


.back {
  display: inline-block;
  padding: 1.5rem 0 0 1.5rem;
  text-decoration: none;
  font-size: 0.875rem;
  color: #9cafbb;
}

.edit-icon {
  top: 1.5rem;
  right: 1.5rem;
}

.column {
  display: inline-block;
  width: 30%;
}

.w50 {
  width: 15rem;
}

.containers {
  width: 100%;
  background-color: orange;
  display: block;
}

.left {
  text-align: left;
  float: left;
  background-color: #FFFFFF;
}

.left-inside {
  padding: 3rem 2rem 2rem 3rem;
}

@media (min-width: 600px) {
  .left {
    width: 75%;
    min-height: 62vh;
  }
  .left-inside {
    padding: 3rem 4rem 2rem 7.1rem;
  }
}

.right {
  text-align: left;
  float: left;
  background-color: #FFFFFF;
}

.right-inside {
  padding: 3rem 1.5rem 3rem 1.5rem;
}

@media (min-width: 600px) {
  .right {
    width: 25%;
    min-height: 62vh;
  }

  .right-inside {
    padding: 3rem 3rem 0 0;
  }
}
