<!-- Include Top Navbar -->
{{>top-nav}}

<!-- Main Content -->
<div class="container">
    <div class="card card--header">
        <h1 class="title">Add Organisation</h1>
    </div>
    {{#if error}}
    <div class="snackbar snackbar-error">
      <h1 class="error">{{error.message}}</h1>
    </div>
    {{/if}}
    <form class="form" method="post">
      <label class="form__label" for="name">Organisation Name</label>
      <input class="form__input {{error.name}}" type="text" name="name" value="{{error.values.name}}">

      <button class="button">Submit</button>
    </form>

</div>

<!-- Include Navbar -->
{{>navbar}}
