<!-- Main Content -->
<div class="container">
    <div class="card card--header card--tall">
      <img class="logo logo--with-title" src="https://avatars1.githubusercontent.com/u/7805691?v=3&s=466" alt="{{organisation.name}} logo">
      <h1 class="title title--with-logo">{{organisation.name}}</h1>
    </div>

    <div class="card">
      <h2 class="card__header">Our circular economy vision</h2>
      <p class="card__copy">{{organisation.mission_statement}}</p>

      {{#if permissions.editable}}
        <a class="button button--small" href="/orgs/{{organisation.id}}/edit">Edit</a>
      {{/if}}

    </div>

    {{#if primary_user}}
    <div class="card">
      <h2 class="card__header">Contact</h2>
      <span class="card__data">{{primary_user.first_name}} {{primary_user.last_name}}</span>
      <span class="card__data">{{primary_user.job}}</span>
      <span class="card__data">{{primary_user.phone}}</span>
      <span class="card__data">{{primary_user.email}}</span>
    </div>
    {{else}}
    <div class="card">
      <span class="card__data">No Primary User Yet</span>
    </div>
    {{/if}}

    {{#if challenges}}
      <div class="card card--header card--tall">
        <h2 class="title title--tall">Our Current Challenges</h2>
      </div>
      {{#each challenges}}
        {{>challenge}}
      {{/each}}
    {{/if}}

</div>

<!-- Include Navbar -->
{{>navbar}}
