<!-- Main Content -->
<div class="container">
    <h1 class="title">Edit Organisation Details</h1>
    <form class="form" method="post">
        <label class="form__label" for="org_name">Organisation Name</label>
        <input class="form__input" name="name" value="{{name}}" id="org_name">

        <label class="form__label" for="mission_statement">Mission Statement</label>
        <input class="form__input" name="mission_statement" value="{{mission_statement}}" id="mission_statement">

        <a class="anchor anchor--danger" href="/orgs/{{id}}/toggle-archive">
          {{#if active}}
          Archive Organisation
          {{else}}
          Unarchive Organisation
          {{/if}}
        </a>

        {{#hasPrimary primary_id}}
        <!-- Only show primary section if primary user is linked to this org -->
        <label class="form__label" for="primary_user_name">Primary User</label>
        <div class="form__input" name="primary_user_name" id="primary_user_name">
          {{primary_user_name}}
          <a href="/people/{{primary_user_id}}/edit" class="button-small float-right">EDIT</a>
        </div>
        {{/hasPrimary}}

        <button class="button" type="submit">SUBMIT</button>
        <a class="anchor" href="/orgs/{{id}}">CANCEL</a>

    </form>
</div>

<!-- Include Navbar -->
{{>navbar}}
