<!-- Include Top Navbar -->
{{>top-nav}}

<!-- <a class="icon icon--edit" href="/challenges/{{id}}/edit">
  <img src="../../../public/assets/Edit.svg" alt="Edit" />
</a> -->

<!-- Main Content -->
<div class="container">
    <div class="card card--header">
      <h1 class="title">Edit Organisation Details</h1>
      <a class="icon icon--cancel" href="/orgs/{{id}}"></a>
    </div>

    {{#if permissions.primary}}
    <div class="card card--header card--tall card--header--white">
      <img class="logo logo--with-title" src="/public/assets/Profile.svg" alt="{{organisation.name}} logo">
      <h1 class="title title--with-logo title--with-logo--blue">{{name}}</h1>
    </div>
    {{/if}}

    <form class="form" method="post">
        <!-- Company name and image -->
        {{#if permissions.admin}}
        <label class="form__label" for="org_name">Organisation Name</label>
        <input class="form__input" name="name" value="{{name}}" id="org_name">
        {{/if}}

        <label class="form__label" for="mission_statement">
          {{#if permissions.primary}}
          Add your circular economy vision
          {{else}}
          Organisation's mission statement
          {{/if}}
        </label>
        <input class="form__input" name="mission_statement" value="{{mission_statement}}" id="mission_statement">

        {{#if organisation.tags}}
          {{#each organisation.tags}}
            <span class="tag__label">{{organisation.name}}</span>
          {{/each}}
        {{else}}
          <h3>Add tags on the next screen</h3>
        {{/if}}

        {{#if permissions.admin}}
        <!-- Show archive and primary user if admin is logge in -->
          <a class="anchor anchor--danger" href="/orgs/{{id}}/toggle-archive">
            {{#if active}}
            Archive Organisation
            {{else}}
            Unarchive Organisation
            {{/if}}
          </a>
          {{#hasPrimary primary_id}}
          <!-- Only show primary section if primary user is linked to this org -->
          <label class="form__label" for="primary_user_name">Primary User</label>
          <div class="form__input" name="primary_user_name" id="primary_user_name">
            {{primary_user_name}}
            <a href="/people/{{primary_user_id}}/edit" class="button-small float-right">EDIT</a>
          </div>
          {{/hasPrimary}}
        {{/if}}

        <button class="button" type="submit">Save</button>

    </form>
</div>

<!-- Include Feedback Widget -->
{{>feedback}}
<!-- Include Navbar -->
{{>navbar}}
