<!-- Include Top Navbar -->
{{>top-nav}}
{{>top-nav-desktop}}


<!-- Main Content -->
<div class="container">

    <!-- Page Title -->
    <div class="card card--header">
      <h1 class="title">Edit organisation profile</h1>
      <a class="icon icon--cancel" href="/orgs/{{org.id}}"></a>
    </div>

    <!-- Snackbar -->
    {{#if error}}
      <div class="snackbar snackbar--error">
        <h1 class="snackbar__content snackbar__content--error">{{error.message}}</h1>
      </div>
    {{/if}}

    <!-- Logo and Name -->
    <div class="card card--header card--tall card--header--white">
      {{#if org.logo_url}}
        <img class="logo logo--with-title logo--with-title-custom" src="{{org.logo_url}}" alt="{{org.name}} logo">
      {{else}}
        <img class="logo logo--with-title logo--with-title--blue logo--with-title-default" src="../../../public/assets/Profile.svg" alt="{{org.name}} logo">
      {{/if}}

      <h1 class="title title--with-logo title--with-logo--blue">{{org.name}}</h1>
    </div>

  <!-- Mission statement and tags -->
   <form class="form form--desktop" method="post">
      <div class="form__section form__section--main">
        <label class="form__label" for="mission_statement">
            Circular economy vision
        </label>

        <p class="form__label form__label--additional">
          Describe your circular economy vision and highlight how your organisation is working towards it.
        </p>

        <textarea class="form__input form__input--text-area {{error.mission_statement}}"
                  id="mission_statement"
                  name="mission_statement"
                  rows="2" cols="50"
                  required
                  >{{#if error}}{{error.values.mission_statement}}{{else}}{{org.mission_statement}}{{/if}}
        </textarea>

        <div class="form__section form__section--left-align">
          {{>tag-names}}
          <button href="/orgs" class="button button--edit" type="button" id="edit-tags">
            <i class="navbar__icon icon navbar__icon--desktop icon--edit-tags"></i>
            <span class="button--edit__text">EDIT TAGS</span>
          </button>
        </div>

      </div>

      <button class="button" type="submit">Save & Publish</button>
      {{>tag-ids}}
  </form>
  {{>modal/modal-view}}

</div>

<!-- tags modal script -->
{{>modal/helpers}}
{{>modal/logic}}

<!-- Include Navbar -->
{{>navbar}}
