<!-- Include Top Navbar -->
{{>top-nav}}
{{>top-nav-desktop}}


<!-- Main Content -->
<div class="container">
    <div class="card card--header">
      <h1 class="title">Edit organisation profile</h1>
      <a class="icon icon--cancel" href="/orgs/{{org.id}}"></a>
    </div>

    {{#if error}}
    <div class="snackbar snackbar--error">
      <h1 class="snackbar__content snackbar__content--error">{{error.message}}</h1>
    </div>
    {{/if}}


   <form class="form form--desktop" id="edit-org-form">
      <!-- Company name and image -->
      <div class="form__section">
        <label class="form__label" for="org_name">Organisation Name</label>
        <input class="form__input form__input--text {{error.name}}" name="name" id="org_name" value="{{#if error}}{{error.values.name}}{{else}}{{org.name}}{{/if}}">
      </div>

      <div class="form__section">
        <label class="form__label form__label--file" for="logo">Organisation Logo</label>
        <input class="form__input form__input--file form__input--non-editable u-no-margin" type="file" name="logo" value="" id="logo" onchange="logoSaver.saveFile(this.files)">
      </div>

      <div class="form__section form__section--main">
        <label class="form__label" for="mission_statement">
          Organisation's mission statement
        </label>

        <p class="form__label form__label--additional">
          Describe your circular economy vision and highlight how your organisation is working towards it.
        </p>

        <textarea class="form__input form__input--text-area {{error.mission_statement}}"
                  id="mission_statement"
                  name="mission_statement"
                  rows="2" cols="50"
                  >{{#if error}}{{error.values.mission_statement}}{{else}}{{org.mission_statement}}{{/if}}
        </textarea>

        <div class="form__section form__section--left-align">
          {{#if org.tags}}
            {{#each org.tags}}
              <span class="tag__label tag__label--disabled">{{tag_name}}</span>
            {{/each}}
          {{else}}
            <label class="form__label">Add tags on the next screen</label>
          {{/if}}
        </div>

      <!-- If there is a linked primary user -->
      {{#if primary.id}}
        <div class="form__section">
          <label class="form__label" for="primary_user_name">Primary User</label>
          <div class="form__input form__input--non-editable" name="primary_user_name" id="primary_user_name">
            {{primary.first_name}} {{primary.last_name}}

            <a href="/people/{{primary.id}}/edit">
              <i class="icon icon--float-right icon--edit-blue"></i>
            </a>
          </div>
        </div>
      {{/if}}

    </div>

    <button class="button" type="button" id="submit-edit-org" onclick="logoSaver.submitForm({{org.id}})">Save & edit tags<i class="icon icon--arrow-right icon--arrow-inside-button"></i></button>

    <!-- Show disable and primary user if admin is logged in -->
    <div class="form__section">
      <a class="form__anchor form__anchor--danger" href="/orgs/{{org.id}}/toggle-active">
        {{#if org.active}}
        Disable Organisation
        {{else}}
        Enable Organisation
        {{/if}}
      </a>
    </div>

  </form>
</div>



<!-- Include Navbar -->
{{>navbar}}
