<!-- Include Top Navbar -->
{{>top-nav}}

<!-- Main Content -->
<div class="container">
    <div class="card card--header daintree--blue">
      <!-- TODO logic breaks when nothing meets search criteria -->
      {{#if challenges}}
      <a href="/challenges/browse/tags"><h1 class="title">
        {{#if filters}}{{filters.name}}{{else}}Select tags{{/if}}
      </h1></a>
      {{else if allOrganisations}}
      <a href="/orgs/browse/tags"><h1 class="title">
        {{#if filters}}{{filters.name}}{{else}}Select tags{{/if}}
      </h1></a>
      {{/if}}
    </div>

    <div class="card card--header">
      <ul class="navbar__links">
        <!-- TODO logic breaks when nothing meets search criteria -->
        {{#if challenges}}
          <li class="navbar__item togglebar__item">
            {{#if filters}}
            <a class="navbar__link togglebar__link" href="/orgs/browse?filters={{filters.id}}">
            {{else}}
            <a class="navbar__link togglebar__link" href="/orgs/browse">
            {{/if}}
              Organisations
          </a></li>
          <li class="navbar__item togglebar__item--selected">
            <a class="navbar__link togglebar__link togglebar__link--selected" href="/challenges/browse">Challenges</a></li>

        {{else if allOrganisations}}
          <li class="navbar__item togglebar__item--selected">
            <a class="navbar__link togglebar__link togglebar__link--selected" href="/orgs/browse">Organisations</a></li>
          <li class="navbar__item togglebar__item">
            {{#if filters}}
            <a class="navbar__link togglebar__link" href="challenges/browse?filters={{filters.id}}">
            {{else}}
            <a class="navbar__link togglebar__link" href="/challenges/browse">
            {{/if}}
            Challenges
            </a></li>
        {{/if}}
      </ul>
    </div>

    {{#if challenges}}
      {{#each challenges}}
        {{>challenge}}
      {{/each}}

    {{else if allOrganisations}}
      {{#each allOrganisations}}
        {{>organisation}}
      {{/each}}

    {{else}}
    <!-- TODO fix styling of this error message -->
      <h3>Nothing meets your search criteria.</h3>
    {{/if}}
</div>

<!-- Include Navbar -->
{{>navbar}}
