<!-- Include Top Navbar -->
{{>top-nav}}

<!-- Main Content -->
<div class="container">
    <div class="card card--header daintree--blue">
      {{#if view.challenges}}
      <a class="title--link" href="/browse/challenges/tags"><h1 class="title">
        {{#if filters}}{{filters.name}}{{else}}Select tags{{/if}}
      {{else if view.orgs}}
      <a class="title--link" href="/browse/orgs/tags"><h1 class="title">
        {{#if filters}}{{filters.name}}{{else}}Select tags{{/if}}
      {{/if}}
      </h1>
      <div class="icon icon--dropdown"></div>
      </a>
    </div>

    <div class="card card--header">
      <ul class="navbar__links">
        {{#if view.challenges}}
          <li class="navbar__item togglebar__item">
            {{#if filters}}
            <a class="navbar__link togglebar__link" href="/browse/orgs?filter={{filters.id}}">
            {{else}}
            <a class="navbar__link togglebar__link" href="/browse/orgs">
            {{/if}}
              Organisations
          </a></li>
          <li class="navbar__item togglebar__item--selected">
            <a class="navbar__link togglebar__link togglebar__link--selected" href="/browse/challenges">Challenges</a></li>

        {{else if view.orgs}}
          <li class="navbar__item togglebar__item--selected">
            <a class="navbar__link togglebar__link togglebar__link--selected" href="/browse/orgs">Organisations</a></li>
          <li class="navbar__item togglebar__item">
            {{#if filters}}
            <a class="navbar__link togglebar__link" href="/browse/challenges?filter={{filters.id}}">
            {{else}}
            <a class="navbar__link togglebar__link" href="/browse/challenges">
            {{/if}}
            Challenges
            </a></li>
        {{/if}}
      </ul>
    </div>

      {{#if data}}
      {{#if view.challenges}}
        {{#each data}}
          {{>challenge}}
        {{/each}}
      {{else}}
        {{#each data}}
          {{>organisation}}
        {{/each}}
      {{/if}}
      {{else}}
      <!-- TODO fix styling of this error message -->
      <h3>Nothing meets your search criteria.</h3>
      {{/if}}
</div>

<!-- Include Navbar -->
{{>navbar}}
