<!-- Include Top Navbar -->
{{>top-nav}}
{{>top-nav-desktop}}

<!-- Main Content -->
<div class="container">
  <div class="card card--header card--header-tags">
    <a class="icon icon--back" href={{views.referer}}></a>
    <h1 class="title title--extra-large">Select Tag</h1>
  </div>
    <form class="form form--tags" method="post">
        <div class="form__section">
          <label class="tag__title tag__title--desktop">
            <a class="anchor--red" href="/{{pageType}}">Search all tags</a>
          </label>
          {{#each allActive}}
            {{>filter-tags-categories pageType=../pageType}}
          {{/each}}
        </div>
    </form>
</div>

<!-- Include Feedback Widget -->
{{>feedback}}
<!-- Include Navbar -->
{{>navbar}}
