<!-- Include Top Navbar -->
{{>top-nav}}

<!-- Main Content -->
<div class="container">
  <div class="card card--header">
    <h1 class="title">Select Tags</h1>
  </div>
  {{#if parent_tags}}
    <form class="form form--tags" method="post">
        <div class="form__section">
          <label class="tag__title">
            {{#if view.orgs}}
            <a class="anchor--danger text-decoration" href="/browse/orgs">Search all tags
            {{else}}
            <a class="anchor--danger text-decoration" href="/browse/challenges">Search all tags
            {{/if}}
            </a>
          </label>
          <!-- <span  type="checkbox" class="tag__input" id="all">All tags</span> -->
          {{#each parent_tags}}
            {{>filter-tag view=../view}}
          {{/each}}
        </div>
    </form>
  {{else}}
    <h3>Sorry! No tags were found</h3>
  {{/if}}
</div>

<!-- Include Navbar -->
{{>navbar}}
