<!-- Include Top Navbar -->
{{>top-nav}}
{{>top-nav-desktop}}

<!-- Main Content -->
<div class="container">
    <div class="card card--header">
      <h1 class="title">Add A New Challenge</h1>
      <a class="icon icon--cancel" href="/orgs/{{permissions.organisation_id}}"></a>
    </div>

    {{#if error}}
    <div class="snackbar snackbar--error">
      <h1 class="snackbar__content snackbar__content--error">{{error.message}}</h1>
    </div>
    {{/if}}

    <form class="form form--desktop" method="post">

      <div class="form__section form__section--main">

        <label class="form__label" for="title">Challenge title*</label>
        <input class="form__input form__input--text {{error.title}}" type="text" name="title" id="title" placeholder="Write Here..." value="{{error.values.title}}">
        <label class="form__label" for="description">Short description*</label>
        <textarea class="form__input form__input--text-area {{error.description}}"
                  id="description"
                  name="description"
                  placeholder="Write Here..."
                  rows="" cols="50">
          {{#if error.values.description}}{{error.values.description}}{{/if}}
        </textarea>

        <div class="form__section">
            <div id="tag__labels">
            {{#if tags}}
              {{#each tags}}
                  <span class="tag__label">{{name}}</span>
              {{/each}}
            {{/if}}
          </div>
          <button class="button" type="button" id="edit-tags">Edit tags</button>
        </div>
      </div>

      <p class="copy form__copy">Clicking 'Save' will make your challenge public to the network</p>
      <button class="button" type="submit">Save & Publish</button>
      <div id="form-tag-ids">
        {{#each tags}}
            <input type="hidden" name="tags" value="{{id}}">
        {{/each}}
      </div>
    </form>

    <div class="modal">
      <div class="modal__content">
        {{>modal/modal-tags}}
      </div>
    </div>
</div>

<!-- tags modal script -->
{{>modal/helpers}}
{{>modal/logic}}

<!-- Include Navbar -->
{{>navbar}}
