<!-- Include Top Navbar -->
{{>top-nav}}

<!-- Main Content -->
<div class="container">
    <h1 class="title">Add A New Challenge</h1>

    <form class="form" method="post">
      <label class="form__label" for="title">Title</label>
      <input class="form__input" type="text" name="title" id="title" placeholder="Write Here...">

      <label class="form__label" for="description">Description</label>
      <input class="form__input" type="text" name="description" id="description" placeholder="Write Here...">

      {{#if tags}}
        {{#each tags}}
          {{>tag-button}}
        {{/each}}
      {{else}}
        <h3>Add tags on the next screen</h3>
      {{/if}}

      <button class="button" type="submit">NEXT</button>
    </form>
</div>

<!-- Include Navbar -->
{{>navbar}}
