<!-- Include Top Navbar -->
{{>top-nav}}

<!-- Main Content -->
<div class="container">
    <div class="card card--header">
      <h1 class="title">Add A New Challenge</h1>
      <a class="icon icon--cancel" href="/orgs/{{permissions.organisation_id}}"></a>
    </div>

    {{#if error}}
    <div class="snackbar snackbar-error">
      <h1 class="error">{{error.message}}</h1>
    </div>
    {{/if}}

    <form class="form" method="post">

      <div class="form__section">

        <label class="form__label" for="title">Challenge title</label>
        <p class="copy copy--form">Try to keep it short and memorable</p>
        <input class="form__input {{error.title}}" type="text" name="title" id="title" placeholder="Write Here..." value="{{error.values.title}}">
        <label class="form__label" for="description">Short description</label>
        <textarea class="form__input {{error.description}}" name="description" id="description" placeholder="Write Here..." rows="4" cols="50">{{#if error.values.description}}{{error.values.description}}{{/if}}</textarea>
      {{#if tags}}
        {{#each tags}}
          <span class="tag__label">{{name}}</span>
        {{/each}}
        <div class="copy copy--form">
          <p>Add up to 5 tags on the next screen.</p>
          <p>These tags will be searchable and will help people to find your Challenge.</p>
        </div>
      {{else}}
      <div class="copy copy--form">
        <p>Add up to 5 tags on the next screen.</p>
        <p>These tags will be searchable and will help people to find your Challenge.</p>
      </div>
      {{/if}}
      </div>

      <p>Clicking 'Next' will make your challenge public to the network</p>
      <button class="button button--margin" type="submit">Next</button>

    </form>
</div>

<!-- Include Feedback Widget -->
{{>feedback}}
<!-- Include Navbar -->
{{>navbar}}
