<!-- Include Top Navbar -->
{{>top-nav}}
{{>top-nav-desktop}}

<!-- Main Content -->
<div class="container container--desktop">
   <!-- header -->
    <div class="card card--header card__header--challenge card__header--challenge-bg">
        <a class="back" href="{{cancelUrl}}">< Back</a>
        {{#if (allowAccess permissions)}}
            <a href="/challenges/{{challenge.id}}/edit">
              <i class="icon icon--edit icon--edit-white icon--desktop edit-icon"></i>
            </a>
        {{/if}}
      <h1 class="title__challenge">{{challenge.title}}</h1>
    </div>

    <div class="containers">
      <div class="left">
        <div class="left-inside">
          <p class="card__copy card__copy--challenge">{{challenge.description}}</p>
          <h4 class="card__copy anchor anchor--shared-by anchor--right u-no-margin">Shared by
            <a class="card__copy anchor anchor--shared-by anchor--right u-no-margin" href="/orgs/{{challenge.org_id}}">
              {{challenge.org_name}}
            </a>
          </h4>
        </div>
      </div>
      <div class="right">
        <div class="right-inside">
          <h2 class="card__header card__header--suggested-matches">Tagged with</h2>

          {{#if (allowAccess permissions)}}
            {{#if challenge.tags }}
              {{#each challenge.tags}}
              <a class="u-text-decoration--none" href="/challenges?tags={{id}}">
                <span class="tag__label tag__label--selected">{{name}}</span>
              </a>
              {{/each}}
            {{else}}
              <p class="u-teal">
                Looks like there is no tag selected for this challenge.
                <a class="u-teal" href="/challenges/{{challenge.org_id}}/edit">
                  Add tags here >
                </a>
              </p>
            {{/if}}
          {{else}}
            {{#each challenge.tags}}
            <a class="u-text-decoration--none" href="/challenges?tags={{id}}">
              <span class="tag__label tag__label--selected">{{name}}</span>
            </a>
            {{/each}}
          {{/if}}

        </div>

        {{#if (allowAccess permissions)}}
          <div class="right-inside">
            <h2 class="card__header card__header--suggested-matches">Matched with</h2>
            {{#if (hasMatches suggested_matches matchingChallenges matchingInsights) }}
              {{#if suggested_matches}}
                {{#each suggested_matches}}
                  <a class="anchor anchor--suggested-matches" href="/orgs/{{id}}">{{name}}</a>
                {{/each}}
              {{/if}}

              {{#if matchingChallenges}}
                {{#each matchingChallenges}}
                  <a class="anchor anchor--suggested-matches" href="/challenges/{{id}}">{{title}}</a>
                {{/each}}
              {{/if}}

              {{#if matchingInsights}}
                {{#each matchingInsights}}
                  <a class="anchor anchor--suggested-matches" href="{{url}}" target="_blank">{{title}}</a>
                {{/each}}
              {{/if}}
            {{else}}
              <p class="u-teal">
                We couldn't match your challenge, have you tried to
                <a class="u-teal" href="/challenges/{{challenge.org_id}}/edit">tag it?</a>
              </p>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>


<!-- Include Navbar -->
{{>navbar}}
