<!-- Include Top Navbar -->
{{>top-nav}}
{{>top-nav-desktop}}

<!-- Main Content -->
<div class="container">
  <div class="card card--header">
    <h1 class="title">Edit Challenge</h1>
    <a class="icon icon--cancel" href="{{#if permissions.organisation_id}}/orgs/{{permissions.organisation_id}}{{else}}/orgs{{/if}}"></a>
  </div>

  {{#if error}}
  <div class="snackbar snackbar--error">
    <h1 class="snackbar__content snackbar__content--error">{{error.message}}</h1>
  </div>
  {{/if}}

    <form class="form form--desktop" method="post">
      <div class="form__section form__section--main">

        <label class="form__label" for="title">Title</label>
        <input class="form__input form__input--text {{error.title}}" type="text" name="title" id="title" value="{{#if error}}{{error.values.title}}{{else}}{{title}}{{/if}}">

        <label class="form__label" for="description">Description</label>
        <textarea class="form__input form__input--text-area {{error.description}}"
                  name="description"
                  id="description"
                  placeholder="Write Here..."
                  rows=""
                  cols="50"
                  >{{#if error.values.description}}{{error.values.description}}{{else}}{{description}}{{/if}}
        </textarea>

        {{#if tags}}
        <div class="form__section">

          {{#each tags}}
            <span class="tag__label">{{name}}</span>
          {{/each}}
        </div>
        {{/if}}
      </div>

      <p class="copy form__copy">Clicking 'Save' will make your challenge public to the network</p>


      <button class="button" type="submit">Save & edit tags<i class="icon icon--arrow-right icon--arrow-inside-button"></i></button>

      <!-- Show archive and primary user if admin is logged in -->
        <div class="form__section">

          <a class="form__anchor form__anchor--danger" href="/challenges/{{id}}/toggle-active">
            {{#if active}}
              Archive Challenge
            {{else}}
              Unarchive Challenge
            {{/if}}
          </a>
        </div>

    </form>

</div>



<!-- Include Navbar -->
{{>navbar}}
