<!-- Include Top Navbar -->
{{>top-nav}}
{{>top-nav-desktop}}

<!-- Main Content -->
<div class="container">
  <div class="card card--header">
    <h1 class="title">Edit Challenge</h1>
    <a class="icon icon--cancel" href="{{#if permissions.organisation_id}}/orgs/{{permissions.organisation_id}}{{else}}/orgs{{/if}}"></a>
  </div>

  {{#if error}}
  <div class="snackbar snackbar--error">
    <h1 class="snackbar__content snackbar__content--error">{{error.message}}</h1>
  </div>
  {{/if}}

    <form class="form form--desktop" method="post">
      <div class="form__section form__section--main">

        <label class="form__label" for="title">Title</label>
        <input class="form__input form__input--text {{error.title}}" type="text" name="title" id="title" value="{{#if error}}{{error.values.title}}{{else}}{{title}}{{/if}}">

        <label class="form__label" for="description">Description</label>
        <textarea class="form__input form__input--text-area {{error.description}}"
                  name="description"
                  id="description"
                  placeholder="Write Here..."
                  rows=""
                  cols="50"
                  >{{#if error.values.description}}{{error.values.description}}{{else}}{{description}}{{/if}}
        </textarea>

        {{#if tags}}
        <div class="form__section">

          {{#each tags}}
            <span class="tag__label">{{name}}</span>
          {{/each}}
        </div>
        <button class="button" type="button" id="edit-tags">Edit tags<i class="icon icon--arrow-right icon--arrow-inside-button"></i></button>
        {{/if}}
      </div>

      <p class="copy form__copy">Clicking 'Save' will make your challenge public to the network</p>


      <button class="button" type="submit">Save & Publish<i class="icon icon--arrow-right icon--arrow-inside-button"></i></button>

      <!-- Show archive and primary user if admin is logged in -->
        <div class="form__section">

          <a class="form__anchor form__anchor--danger" href="/challenges/{{id}}/toggle-active">
            {{#if active}}
              Archive Challenge
            {{else}}
              Unarchive Challenge
            {{/if}}
          </a>
        </div>

    </form>

    {{>modal-tags}}
</div>


<script type="text/javascript">
  var editTagsButton = document.getElementById('edit-tags');
  var tagList = document.getElementById('tag-list');
  var selectTags = document.getElementById('select-tags');
  var cancelTags = document.getElementById('cancel-tags');
  var tag;
  var i;
  var currentState = {{{"initialTags"}}}

  editTagsButton.addEventListener('click', function(){
    unselectTags();
    tagList.style.display = 'block'
    for (i = 0; i < currentState.length; i++) {
        tag = document.getElementById('tag_' + currentState[i]);
        tag.checked = true;
    }
  })

  cancelTags.addEventListener('click', function() {

  })

  selectTags.addEventListener('click', function() {
    //get selected tags
    var selectedTags = document.querySelectorAll('.tag__input:checked:not(.cat)')
    currentState = [];
    for(i = 0; i < selectedTags.length; i++) {
      currentState.push(selectedTags[i].value);
    }

  })

  var unselectTags = function() {
    var tags = document.querySelectorAll('.tag__input:checked:not(.cat)');
    for(i = 0; i < tags.length; i++) {
      tags[i].checked = false;
    }
  }

</script>

<!-- Include Navbar -->
{{>navbar}}
