<!-- Main Content -->
<div class="container">
    <h1 class="title">Add A New Challenge</h1>

    <form class="form" method="post">
      <label class="form__label" for="title">Title</label>
      <input class="form__input" type="text" name="title" id="title" value="{{title}}">

      <label class="form__label" for="description">Description</label>
      <input class="form__input" type="text" name="description" id="description" value="{{description}}">

      {{#if tagsData}}
        {{#each tagsData}}
          <span class="tag__label">{{name}}</span>
        {{/each}}
      {{else}}
        <h3>Add tags on the next screen</h3>
      {{/if}}

    <!-- Show archive and primary user if admin is logged in -->
      <a class="anchor anchor--danger" href="/challenges/{{id}}/toggle-archive">
        {{#if active}}
        Archive Organisation
        {{else}}
        Unarchive Organisation
        {{/if}}
      </a>

      <button class="button" type="submit">NEXT</button>
    </form>
</div>

<!-- Include Navbar -->
{{>navbar}}
